[2016-05-17 23:04] Random-Liu opened #2 "Measure the resource overhead of NodeProblemDetector"
To roll out the NodeProblemDetector and run it as an addon pods of Kubernetes, we need to understand its overhead, at least including cpu and memory overhead.

/cc @kubernetes/sig-node

[2016-05-17 23:28] Random-Liu opened #3 "KernelMonitor: Reconsider whether to use hpcloud/tail"
For move fast as soon as possible, we used https://github.com/hpcloud/tail for the first version.
However, in fact it has been proved to have some bugs, such as https://github.com/hpcloud/tail/issues/21.

We should reconsider whether we should try to fix the bugs or implement a simple tail lib ourselves based on https://github.com/google/cadvisor/pull/1264.

[2016-05-17 23:53] Random-Liu opened #4 "Write Readme.md for NodeProblemDetector"
Write Readme.md for NodeProblemDetector to demonstrate:
* Motivation and scope of NodeProblemDetector
* Usage of current NodeProblemDetector
* Future plan of NodeProblemDetector.

/cc @kubernetes/node-problem-detector-maintainers

[2016-05-18 00:30] Random-Liu opened #5 "Write Readme.md for KernelMonitor"
Write Readme.md for KernelMonitor to demonstrate:
* Motivation of KernelMonitor
* Usage of current KernelMonitor
* Future plan of KernelMonitor.

/cc @kubernetes/node-problem-detector-maintainers

[2016-05-19 08:07] Random-Liu commented on #2
I've done some measurement. Here is the result:
![image](https://cloud.githubusercontent.com/assets/5821883/15386617/b111a3a0-1d5d-11e6-949e-2fe3a83ca871.png)
In the table above:
* Type is the problem type corresponding to the inserted log.
* Frequency is lines of log inserted every second.
* CPU is the stable cpu usage of the NodeProblemDetector.
* Memory is the stable memory usage of the NodePro

[2016-05-19 08:23] Random-Liu commented on #2
According to the result above https://github.com/kubernetes/node-problem-detector/issues/2#issuecomment-220255629, the following configuration should be enough for now:
[code]
Because:
* 100 permanent/temporary problems/s should be rare, even the most frequent problem till now https://github.com/docker/docker/issues/5618 only produces one line in several seconds.
* Even the problem produces 100 li

[2016-05-19 19:14] vishh commented on #2
nit: Requests need not be specified if this job is expected to be
`Guaranteed`.

On Thu, May 19, 2016 at 1:23 AM, Lantao Liu <notifications@github.com>
wrote:

[2016-05-19 21:12] Random-Liu commented on #2
@vishh ACK. Thank you very much~ :)

[2016-05-23 17:38] derekwaynecarr opened #7 "Unable to build code, missing godep"
I cloned the repo and ran:

[code]

Looks like this is missing a godep in master:
https://github.com/kubernetes/node-problem-detector/tree/master/vendor

[2016-05-23 17:59] derekwaynecarr commented on #7
Tried using:

[code]

[2016-05-23 18:08] Random-Liu commented on #7
@derekwaynecarr Let me see what happened. :)

[2016-05-23 18:15] eparis commented on #7
@freeformz    any guesses here?
[code]

[2016-05-23 18:17] Random-Liu commented on #7
Found out why

[2016-05-23 18:18] eparis commented on #7
Complete reproducer:
[code]

[2016-05-23 18:30] Random-Liu commented on #7
Should be fixed in #8  :)
@derekwaynecarr @eparis Thanks a lot for reporting this!

[2016-05-23 18:34] eparis commented on #7
More for @freeformz
[code]

[2016-05-23 18:37] eparis commented on #7
weird....
[code]

[2016-05-23 18:42] Random-Liu commented on #7
@eparis Really? So you mean we need to run `godep save ./...` twice to import the `golang.org/x/sys/unix"?

[2016-05-23 18:44] derekwaynecarr commented on #7
that is weird (double godep save call)

[2016-05-23 18:55] freeformz commented on #7
Orly. If so that's a bug, I'll have to see if I can replicate

[2016-05-23 19:05] freeformz commented on #7
I tried to duplicate the issue with godep but after `go get -u golang.org/x/sys/unix`, `godep save ./...` recorded `golang.org/x/sys/unix` on the first pass.

If `golang.org/x/sys/unix` isn't in your $GOPATH you won't get it saved, but you should get some sort of error during save when the package is missing.

I am using v70, which the original repo seems to be using v63, although I don't think th

[2016-05-23 19:16] eparis commented on #7
@freeformz ohhhhh.  missed a step....

godep restore (get random error)
go get -u golang.org/x/sys/unix
rm -rf Godeps/ vendor/
godep save ./...  # fails to add x/sys/unix
godep save ./...  # works

[2016-05-23 19:17] eparis commented on #7
v70   at 64a5cdf199e4c5a078d1f541c707bdf3ade41a1f

[2016-05-23 19:39] Random-Liu commented on #7
This is automatically closed in #8, reopen this to investigate more about the bug.

[2016-05-23 19:47] eparis commented on #7
hopefully @freeformz will be able to explain why `golang.org/x/sys/unix` is not included if you `save` when there is no `Godeps` / `vendor`  but it does get found if you `godep save` when then have already been saved...

[2016-05-23 21:08] freeformz commented on #7
Confirmed that 2 saves are required. So going to start digging.

[2016-05-23 21:49] freeformz commented on #7
**Part** of this is because `github.com/hpcloud/tail` vendor's a a version of `gopkg.in/fsnotify.v1` that doesn't import `golang.org/x/sys/unix`. But we flatten their vendor and pull up the dependency, so that there is only a single top level vendor directory. This required a version of `gopkg.in/fsnotify.v1` be installed in the $GOPATH. The version vendored in hpcloud/tail is "7be54206639f256967d

[2016-05-23 21:57] freeformz commented on #7
I take that back. I just forgot to delete node-problem detector's vendored version of fsnotify.v1 that imports golang.org/x/sys/unix.

[2016-05-23 21:58] freeformz commented on #7
I suggest applying https://github.com/kubernetes/node-problem-detector/compare/master...freeformz:fixFSNotify ... or maybe bumping hpcloud/tail

[2016-05-24 00:13] Random-Liu commented on #2
Close this since this is done.

[2016-05-24 00:13] #2 closed

[2016-05-24 19:04] Random-Liu commented on #7
@freeformz Thanks a lot for digging into this.
How did you generate https://github.com/kubernetes/node-problem-detector/compare/master...freeformz:fixFSNotify? Manually change the fnotify version?

[2016-05-24 20:20] freeformz commented on #7
roughly...
[code]

[2016-05-24 20:20] freeformz commented on #7
I can make a PR if it helps.

[2016-05-25 22:25] Random-Liu commented on #7
@freeformz Sorry for the delay. :( Sure! Feel free to send a PR~ Thanks a lot!

[2016-05-26 01:45] saad-ali opened #9 "Node-Problem-Detector should Patch NodeStatus not Update"
*Problem:*
`kubelet`, `node-controller`, and now the `node-problem-detector` all update the `Node.Status` field.

Normally this is not a problem because if changes happen rapidly, resource version mismatch fails and everything is ok.

When a new field is added to Node Status, however:
* Since `kubelet` and `node-controller` are in the same repository they are recompiled with the new field and Stat

[2016-05-26 03:49] caesarxuchao commented on #9
You can use the [Patch()](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/typed/dynamic/client.go#L185) method in the dynamic client, but you'll need to modify that function to allow specifying a subresource. cc @krousey

[2016-05-26 04:27] lavalamp commented on #9
I didn't know you guys were building this in a different repository. If you aren't going to be version-locked like the other components are, then you need some features that aren't built into our client.

Patch and/or dynamic client seems to be your best way forward.

There are various ways we could have made this easier, but they won't happen in time for your first release...

[2016-05-26 05:47] Random-Liu commented on #9
@saad-ali Thanks a lot for reporting!

I'll try this!

@lavalamp Thanks a lot! Patch is good enough for now~ Let me try :)

[2016-05-26 13:06] derekwaynecarr commented on #9
I think we should also have a node e2e that verifies the Kubelet itself
does not regress and drop node conditions it does not manage.  I don't
think we have anything that verifies that today and it would help avoid
regressions.

On Thursday, May 26, 2016, Lantao Liu <notifications@github.com> wrote:

[2016-05-26 14:25] dchen1107 commented on #9
Yes, I talked @Random-Liu on e2e test verifying this.

[2016-05-26 14:27] bgrant0607 commented on #9
@saad-ali Ah, so it was getting clobbered. Great catch!  Where multiple components update a resource, they'll need a way to patch, either via PATCH or via a dedicated subresource.

This is a problem already with node controller and Kubelet. I'm surprised we hadn't been bit by it yet.

We have a similar problem with kubectl round-tripping, which we're working to eliminate.

[2016-05-26 17:22] lavalamp commented on #9
@bgrant0607 Yeah. Very surprising this is the first time we've hit this. BTW making kubectl not round-trip wouldn't be sufficient, but @krousey was actually switching everything to use the dynamic client, which *will* be sufficient to prevent this.

Also, this is the canary in the coal mine: everyone who built automation using our current client will have this problem in 1.3.

[2016-05-26 17:33] Random-Liu commented on #9
does not regress and drop node conditions it does not manage.  I don't
think we have anything that verifies that today and it would help avoid
regressions.

Yeah, we are going to add test for this. :)

[2016-05-26 18:10] Random-Liu commented on #9
FYI, I tried many ways to patch the `NodeCondition`, but the apiserver keeps throwing out 405 error. I'll work with @caesarxuchao to figure out how to patch status correctly (Thanks! :)).

And I had an offline discussion with @saad-ali, to unblock him we'll:
* disable node-problem-detector temporarily
* get https://github.com/kubernetes/kubernetes/pull/26351 merged
* update the api client version

[2016-05-26 21:01] Random-Liu commented on #9
Offline discussed with @dchen1107, we will:
* Go with https://github.com/kubernetes/node-problem-detector/issues/9#issuecomment-221949895 to unblock @saad-ali
* Wait for https://github.com/kubernetes/kubernetes/pull/26381 to land (Thanks @caesarxuchao )
* Switch node-problem-detector to use `Patch` instead of `UpdateStatus`

[2016-05-27 01:54] Random-Liu commented on #7
Close this because this has been fixed in #10, I've tried it and it works for me. :)
@freeformz Thanks a lot for your help!

[2016-05-27 01:54] #7 closed

[2016-06-01 23:26] #9 closed

[2016-06-02 06:27] wojtek-t commented on #9
but @krousey was actually switching everything to use the dynamic client, which will be sufficient to prevent this.

@lavalamp - what do you mean by everything? If you really mean "everything", then we need to support protobufs in it, which we currently don't. @smarterclayton FYI

[2016-06-02 20:59] lavalamp commented on #9
Yeah, dynamic client only talk json right now afaik.

On Wed, Jun 1, 2016 at 11:27 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-06-03 18:43] Random-Liu opened #14 "KernelMonitor: Add journald support"
Add journald support.

Consider reusing [the code in cadvisor](https://github.com/google/cadvisor/blob/master/utils/oomparser/oomparser.go#L168), and maybe replace hpcloud/tail with the simpler implementation in cadvisor https://github.com/kubernetes/node-problem-detector/issues/3

[2016-06-09 15:46] #4 closed

[2016-06-09 23:22] Random-Liu opened #19 "Node Problem Detector should retry after failing to connect apiserver."
Failure happens.

Node Problem Detector should not just panic when fails to connect apiserver.

[2016-06-16 18:03] Random-Liu commented on #5
Remove milestone tag because the most important information is included in the main Readme.md already. More detailed information could be found in design doc

[2016-06-23 01:22] sols1 opened #21 "does this tool work outside Google?"
Panic crash:

[code]

[2016-06-23 01:36] Random-Liu commented on #21
@sols1 It should work.
`/var/run/secrets/kubernetes.io/serviceaccount/token` is the token file used by the api client. It should be set by default in each pod.

I started a random pod, and then exec into the pod:
[code]

[2016-06-23 01:40] sols1 commented on #21
When I try to do the same thing on my k8s cluster I get different result:

[code]

As you can see many pods are running but /var/run/secrets/kubernetes.io/serviceaccount/token does not exist.

[2016-06-23 01:50] Random-Liu commented on #21
1) Can you try to start the pod in kube-system namespace to see whether that will make any difference?
2) Which version of kubernetes are you using?

I'll make sure whether the token file is set by default. At least according to the document, the file should be there. http://kubernetes.io/docs/user-guide/accessing-the-cluster/#accessing-the-api-from-a-pod

[2016-06-23 01:52] sols1 commented on #21
As you can see from above I am running several pods in kube-system namespace and those don't have this token file either:

[code]

[2016-06-23 01:53] sols1 commented on #21
kubernetes version ~1.3

[2016-06-23 02:01] sols1 commented on #21
The thing that might be unusual about this setup is that kubernetes runs on top of RancherOS, which is containerized.

But when I am trying to access this file inside host namespace I get the same result:

[code]

Or inside kubelet container:

[code]

Or kube-proxy:

[code]

[2016-06-23 02:08] Random-Liu commented on #21
1) Can you check whether you have default service account? It should be created by default.
[code]

2) If you didn't see it. I guess you didn't start your apiserver with `admission-control`:
[code]
I believe you need to enable the `ServiceAccount` in the admission control.

[2016-06-23 17:28] sols1 commented on #21
Yes, serviceaccount does not show any secrets:

[code]

And yes, there is no --admission-control option in apiserver.

But nothing says it is a required option, particularly for bare metal cluster.

This brings back the original question: is this tool supposed to work for _**any**_ k8s cluster?

[2016-06-23 19:59] Random-Liu commented on #21
@sols1 It is supposed to be.

If there is no admission control, and the pod could talk with apiserver without auth, then it should still work. I'll see whether we could fix it.

[2016-06-24 22:24] Random-Liu commented on #21
@sols1 Please see https://github.com/kubernetes/kubernetes/issues/27973#issuecomment-228476191. :)

[2016-06-25 00:08] #5 closed

[2016-06-25 00:46] sols1 commented on #21
Even after this #https://github.com/kubernetes/kubernetes/issues/27973#issuecomment-228496520 I got:

[code]

So, which version of OS is supported?

Also, is there another option necessary to change `the server does not allow this method on the requested resource`?

[2016-06-25 01:14] Random-Liu commented on #21
@sols1 This is because node-problem-detector uses `Patch` method to update node status. (See https://github.com/kubernetes/node-problem-detector/issues/9)

The apiserver before https://github.com/kubernetes/kubernetes/pull/26381 didn't allow patch operation on node status. I believe that your kubernetes version doesn't contain https://github.com/kubernetes/kubernetes/pull/26381 yet.

[2016-06-25 01:16] Random-Liu commented on #21
@sols1 And from the log, it seems that the kernel log is not at /var/log/kern.log on your host. What is your os distro?

[2016-07-11 07:59] wangyumi opened #23 "node-problem-detector does not work if I change kubelet hostname to node ip."
I am running k8s 1.3.0 and with docker image node-problem-detector:v0.1

I changed kubelet  --hostname-override with node ip on ehch minion:
[code]

when I start node-problem-detector as a daemon set, I got a lot of error messages:
[code]

It seems node-problem-detector still use the  original os hostname to access node instead of overrided hostname that is registered in etcd.

/wangyumi

[2016-07-11 10:47] ApsOps commented on #21
@Random-Liu Hi. I'm facing the same issue. The thing is, I have been running my cluster without `ServiceAccount` admission control plugin since I'm running cluster without auth.

I was facing a similar situation when trying to run heapser, but it has an option `inClusterConfig=false` to allow running without service account tokens.

Refer: https://github.com/kubernetes/heapster/blob/cd2301d0bca468

[2016-07-11 17:48] Random-Liu commented on #23
@wangyumi Node problem detector also needs a `hostname-overwrite` flag. I'll add it soon.
Thanks for reporting! :)

[2016-07-11 18:00] Random-Liu commented on #23
@wangyumi It seems that kube-proxy also has the problem if you don't manually change salt to override the hostname. Does kube-proxy work in your cluster after you override the hostname? :)

[2016-07-11 18:40] Random-Liu commented on #21
@ApsOps That's quite useful. I'll also add a `inscure` option in node problem detector.

[2016-07-13 23:50] Random-Liu opened #25 "Get node name from downward api"
Now to get the node name, we have to let node problem detector run in host network.

After https://github.com/kubernetes/kubernetes/pull/27880 landing, we can change the node problem detector to get node name from the downward api. And that will also fix https://github.com/kubernetes/node-problem-detector/issues/23.

[2016-07-19 21:24] pwittrock opened #26 "Detect clock skew vs the master or some other central source"
The master depends on itself having a similar view of time as the Nodes, and the controller manager will not properly roll out deployments if the node and master clocks are skewed.  We should figure out a way of detecting this condition.

[2016-07-19 21:27] janetkuo commented on #26
Ref https://github.com/kubernetes/kubernetes/issues/29229

[2016-07-23 00:47] yuvipanda opened #27 "Allow reading a kubeconfig file for master / auth info"
This would allow it to be used with clusters that don't have service accounts enabled (they are disabled in our cluster because they do not play well with namespaced accounts yet)

[2016-07-28 18:10] Random-Liu commented on #26
The clock skew issue should have been handled in https://github.com/kubernetes/kubernetes/issues/6159.

It is really hard for the node problem detector to detect the clock skew. It has to do similar thing with what ntpd does. :)

[2016-08-09 21:33] zmerlynn opened #28 "NodeProblemDetector tests failing on AWS"
https://github.com/kubernetes/node-problem-detector/blob/9ab546a2e23613c51e51af7a109952a6079e0651/pkg/problemclient/problem_client.go#L61 assumes that the hostname is the same name as the cloud provider instance name. This is false on AWS. NPD needs to be going through `CurrentNodeName` to get the cloud provider agnostic hostname.

I'm disabling this test on AWS for now, but we're marching towards

[2016-08-09 21:33] zmerlynn commented on #28
cc @justinsb

[2016-08-09 21:58] zmerlynn commented on #28
I'm not sure I agree that this is an `enhancement`, unless the original design was for GCE images/kernels only.

[2016-08-09 22:07] Random-Liu commented on #28
@zmerlynn Ha, no other labels in this repo except bug. :)
The best way for now should be using the downward api https://github.com/kubernetes/kubernetes/pull/27880, which is mentioned in the issue https://github.com/kubernetes/node-problem-detector/issues/25.

I'll ask whether we can get https://github.com/kubernetes/kubernetes/pull/27880 in any time soon. If so, we can switch to using it quite so

[2016-08-10 23:52] AdoHe commented on #14
@Random-Liu should we consider priority between journaled and kernel log file?

[2016-08-11 00:10] Random-Liu commented on #14
@AdoHe Sorry, I didn't get your question. We only parse kernel log now, even using journald we also only care about kernel log inside. :)

[2016-08-11 00:13] AdoHe commented on #14
@Random-Liu sorry about not explain very clearly, I mean whether we should consider the priority, just like cadvisor, first will try systemd, and then some log files.

[2016-08-11 00:15] Random-Liu commented on #14
@AdoHe Yeah, I think so. If there is journald, we should use it first. :)

[2016-08-23 23:57] #23 closed

[2016-08-23 23:57] #25 closed

[2016-09-08 14:18] derekwaynecarr commented on #14
@dchen1107 @Random-Liu @AdoHe -- is adding journald support on either of your roadmap for Kubernetes 1.5?  For example, would this be needed if/when you look to upgrade GCE node images?

/cc @hodovska

[2016-09-08 18:08] Random-Liu commented on #14
@derekwaynecarr @dchen1107 I think we've to support journald if we are switching to GCI.

[2016-09-09 00:00] AdoHe commented on #14
@Random-Liu I think I have did some research and want to give a retry. Will open a PR asap.

[2016-09-09 00:03] Random-Liu commented on #14
@AdoHe Cool! It's very appreciate!
Just curious, how are you going to do that? Use go-systemd or mount journalctl binary or something? :)

[2016-09-09 00:06] AdoHe commented on #14
@Random-Liu I was using go-systemd, I have researched its code.

[2016-09-09 00:12] Random-Liu commented on #14
@AdoHe Hm, that's great! This will be quite useful!

Not only in node problem detector, we also have this problem in cadvisor (https://github.com/google/cadvisor/blob/381f24b4f22badecade6a51ed7539f11a926175e/utils/oomparser/oomparser.go#L168-L178). It is using `journalctl` binary directly, which IIUC doesn't actually work inside container given the cadvisor docker run command:
[code]

[2016-09-09 00:17] AdoHe commented on #14
Thanks @Random-Liu I will give a retry after finish this one. :)

[2016-09-12 13:40] AdoHe commented on #3
@Random-Liu what do you think of this issue now? When I am adding journald support, I want to use log reader like cadvisor, but the tail library we use currently doesn't implement `io.Reader`, anything block use our simple tail lib?

[2016-09-12 17:25] Random-Liu commented on #3
@AdoHe, as far as I know, we can just use the simple tail lib https://github.com/google/cadvisor/blob/master/utils/tail/tail.go.

[2016-09-12 17:48] Random-Liu commented on #3
@AdoHe One thing is that, we run 2 functions when parsing kernel log:
* `getStartPoint`: This function was initially added to find the recent reboot line in the kernel log.
* `watchLoop`: After finding the reboot line, in side the `watchLoop`, `tail.Tail` is called with `start=head of the reboot line` to watch and parse the following log.

In this implementation, the tail lib needs to support watc

[2016-09-12 23:48] AdoHe commented on #3
@Random-Liu Thanks very much.

[2016-10-24 10:58] jfilak opened #35 "How to hook up third-party daemons?"
I'm an [ABRT](http://abrt.readthedocs.io/en/latest/) developer and I would love to create a problem daemon reporting problems detected by ABRT to node-problem-detector.

ABRT's architecture is similar to node-problem-detector's - there are agents reporting detected problems to abrtd. An ABRT agent is either a tiny daemon watching logs (or systemd-journal) or a language error handler (Python sys.ex

[2016-10-24 18:02] derekwaynecarr commented on #35
/subscribed

[2016-10-24 19:36] Random-Liu commented on #35
@jfilak Cool, we'd really like to integrate with third party daemons!

NPD was introduced in K8s 1.3 for several reasons:

1. We have urgent requirement for kernel problem detection. At that time we were suffering from some kernel deadlocks, such as the `unregister_netdevice kernel race` https://github.com/kubernetes/kubernetes/issues/20096..
2. Node problem detection is a necessity, but it is rea

[2016-10-24 22:04] dchen1107 commented on #35
@jfilak Thanks for interest integrating new problem detector with k8s's generic NPD!

By design, NPD should be easy to plug-in / swap with a different problem detector containers, and aggregate / report all problems to the upstream layers / the users. Do you want to give a demon on one of our sig-node meeting?

[2016-10-25 08:23] jfilak commented on #35
Yes, I do. Thank you for the offer. However, I need some time to get familiar with kubernetes and to polish the image. I've been testing the image only on a bare metal with Docker so far.

[2016-10-25 19:20] Random-Liu commented on #35
@jfilak Thanks!
If you are interested, you can join our slack channel, http://slack.kubernetes.io/ and #sig-node. :)

[2016-11-01 21:24] zmerlynn commented on #28
I forgot to reopen the bug, but the NPD tests never actually started passing on AWS. I'll look into it soon.

[2016-11-02 17:17] Random-Liu commented on #28
This should be solved once https://github.com/kubernetes/kubernetes/pull/35740 is merged.

@dchen1107

[2016-11-05 01:07] Random-Liu opened #37 "Node problem detector should use apiserver cache."
Currently, NPD sent a PATCH every 30 seconds, which could be a significant overhead for apiserver in large cluster.

Even in periodical resync, we should `GET` first and only send `PATCH` when the conditions are actually different.

Further more, we could use the same trick with kubelet to leverage the apiserver cache to reduce the load even more. https://github.com/kubernetes/kubernetes/blob/mast

[2016-11-07 09:24] AdoHe commented on #35
/subscribed

[2016-11-09 20:59] zihaoyu commented on #14
@AdoHe @Random-Liu Any update on this one? I'm running Kubernetes on CoreOS, which uses journald. I'm running a Docker image I built from master, but it looks like it is not watching journald logs.

[2016-11-09 21:25] Random-Liu commented on #14
This is not completely done yet. I'm working on a PR recently, and may send the PR this week.

[2016-11-10 02:47] zihaoyu commented on #14
@Random-Liu Thanks. Let me know if/how I can help. I'm going to test it in our staging cluster once it's ready.

[2016-11-10 03:08] AdoHe commented on #14
@zihaoyu could you please provide your kernel monitor config file? For some personal stuff, this is not completely done.

[2016-11-10 03:13] zihaoyu commented on #14
@AdoHe I'm just using the [provided](https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor.json) config file. And apparently the `logPath` value does not work because logs are in journald.

[2016-11-10 05:40] Random-Liu commented on #14
@AdoHe Thanks for your help!! It is almost done. I'll finish it soon. :)

[2016-11-10 12:43] AdoHe commented on #14
@zihaoyu currently the implementation is if you specify `logPath` in config file, we will still use the file based watcher, you can see [here](https://github.com/kubernetes/node-problem-detector/blob/master/pkg/kernelmonitor/kernel_log_watcher.go#L170)

[2016-11-10 17:39] Random-Liu commented on #14
@AdoHe In fact , a default path is always set in the code, so journald will never be used. In fact there are some other issues as well.

[2016-11-10 19:57] Random-Liu commented on #28
Close this issue because kubernetes/kubernetes#35740 has been merged. Feel free to reopen if the issue happens again.

[2016-11-10 19:57] #28 closed

[2016-11-22 00:22] Random-Liu opened #43 "Add CI e2e test for NPD."
We should add presubmit/postsubmit e2e test for NPD.

For now, we can just download newest kubernetes version and run the [node problem detector e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node_problem_detector.go).

[2016-11-22 00:43] Random-Liu opened #44 "Generalize kernel monitor."
Discussed with @apatil.

Kernel monitor was initially introduced to monitor kernel log and detect kernel issues.

However, in fact it could be extended to monitor other logs such as docker log, systemd log etc. by adding new [`translator`](https://github.com/kubernetes/node-problem-detector/blob/master/pkg/kernelmonitor/translator/translator.go). Currently it is already doable, but not very intuit

[2016-11-22 09:42] jfilak commented on #44
With systemd-journal plugin enabled you can monitor the node for user space core files (either generated by ABRT or systemd-coredump). ABRT also logs uncaught Python, Ruby and Java exceptions to systemd-journal (systemd developers are working on their own Python exception handler). In Kernel you don't need to limit yourself to oopses, you can also detect Hardware issues in the form of MCEs and pst

[2016-11-30 00:14] Random-Liu opened #45 "We need a ChangeLog for NPD."
We should add a changelog to make the release more clear and official.

[2016-11-30 14:55] sandflee opened #46 "failed to build node-problem-detector"
- go version go1.7 darwin/amd64
- godep v74 (darwin/amd64/go1.7)

make failed with output:
[code]

[2016-11-30 19:38] Random-Liu commented on #46
This is a bug, and should be fixed in https://github.com/kubernetes/node-problem-detector/pull/39.

For temporary workaround, you can set `CGO_ENABLED=1`.

[2016-12-01 01:47] sandflee commented on #46
thanks Random-Liu,  still see errors, even using Random-Liu:journald-support
[code]
now I build under linux env, am I miss something?
- go version go1.6 linux/amd64
- godep v74 (linux/amd64/go1.6)

[2016-12-01 02:41] Random-Liu commented on #46
You need to install `libsystemd-journal-dev` or `libsystemd-dev` to build it for journald support.

In #39, we'll add an option to enable/disable journald support. After that you won't need the package if you disable the journald support when make.

In fact node problem detector can't work very well until #39 is merged. I'll try to get that PR merged soon.

[2016-12-01 03:18] sandflee commented on #46
thanks, it worked for me.

[2016-12-01 03:18] #46 closed

[2016-12-01 03:59] jfilak commented on #46
@Random-Liu Perhaps the build process can check if all the dependencies are available:
[code]

Or maybe node-problem-detector could start using `Autotools` to create the Makefile. Because these checks should be performed just once at `./configure` time.

[2016-12-01 18:48] Random-Liu commented on #46
@jfilak Yeah, we should check the dependency. But I'd prefer add the check in the makefile for now, because `autotools` seems to be a little complex and we don't have too much dependency now. :)

[2016-12-05 03:01] euank opened #47 ""unregister_netdevice" isn't necessarily a KernelDeadlock"
I have a node running CoreOS 1221.0.0 with kernel version 4.8.6-coreos.

The node-problem-detector marked it with "KernelDeadlock 	True 	Sun, 04 Dec 2016 18:56:20 -0800 	Wed, 16 Nov 2016 00:03:33 -0800 	UnregisterNetDeviceIssue 	unregister_netdevice: waiting for lo to become free. Usage count = 1".

If I check my kernel log, I see the following:

[code]

Clearly, the node managed to continue to pe

[2016-12-05 08:52] AdoHe commented on #47
Found issue related on docker:

https://github.com/docker/docker/issues/5618

and some useful message:

[2016-12-05 19:04] Random-Liu commented on #47
@euank Thanks for filing the issue.

Yeah, I also observed temporarily unregister_netdevice, but forgot to file issue.
I think an event is enough then. The real issue should be caught by kernel deadlock detection.

[2016-12-08 23:17] euank opened #48 ""startPattern" is fragile and wrong on newer kernels"
Broken out from [here](https://github.com/kubernetes/node-problem-detector/pull/39#issuecomment-265877841)

Currently, the config has a default of `"startPattern": "Initializing cgroup subsys cpuset",`

This pattern is meant to detect a node's boot process. Prior to the 4.5 kernel, this message was typically printed during boot of a node. After 4.5 however, due to [this change](https://github.com/

[2016-12-08 23:25] Random-Liu commented on #48
I'm not sure with this. At least in Kubernetes cluster, we use logrotate to rotate all logs under /var/log.
https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/cluster/saltbase/salt/logrotate/conf

Is it smart enough to ignore kern.log?

[2016-12-08 23:29] euank commented on #48
Even if it's been copy-trunc rotated, it still only applies to the current boot, so it doesn't matter.

But that salt template is not applied to kern.log, only this list of files: https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/cluster/saltbase/salt/logrotate/init.sls#L5

GCI however doesn't use that salt stuff and has its own logrotate chunk which does catch

[2016-12-08 23:39] Random-Liu commented on #48
Yeah, that's right. I missed that.

I'm still not sure with this. I just rebooted one of my VMs, here is the kernel log: https://gist.github.com/Random-Liu/e77348945d4482c5f3fda034a3da7f90

[2016-12-08 23:44] euank commented on #48
Ah, well, that's unfortunate. I thought that was the default config on ubuntu and debian, but it looks like I'm wrong.

That being said, ratherthan using a `startPattern`, the logic of detecting that break should still be internal to the syslog parser IMO.

Perhaps the better heuristic here is to notice the "time since boot" at the beginning going backwards.

[2016-12-08 23:45] Random-Liu commented on #48
When the NPD is introduced, we are still running on ContainerVM. At that time, we only have kern.log, and it's hard to a identify a reboot without define a `StartPattern`.

Initially I was using the kernel timestamp `[    0.000000]`, but changed to the "start pattern" later.

Let me see whether I could find some relation between boot id and kern.log. I think using boot id is the best solution, and

[2016-12-13 11:49] andyxning commented on #21
@Random-Liu Maybe we can [reference Heapster](https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md#kubernetes) for it's convenience to deploy both in Kubernetes cluster and stand alone.

[2016-12-14 06:21] jfilak commented on #45
What about http://keepachangelog.com/ ? We've just started using this format in ABRT - https://github.com/abrt/abrt/blob/master/CHANGELOG.md

[2016-12-15 14:37] shyamjvs opened #50 "Feature request for a "hollow"-node-problem-detector having an empty list of conditions and rules inside kernel monitor config"
As part of the effort to make testing using kubemark mimic real clusters as closely as possible, we are planning to add container for a "hollow-node-problem-detector" inside hollow-node alongside the existing containers "hollow-kubelet" and "hollow-kubeproxy". For this, it is required to have a node-problem-detector image which essentially has conditions and rules inside the kernel monitoring conf

[2016-12-15 18:45] Random-Liu commented on #50
Make a NPD with node rules and conditions set SGTM.

However, I would suggest to use a ConfigMap to overwrite the configuration of NPD instead of creating another image http://kubernetes.io/docs/admin/node-problem/#overwrite-the-configuration.

@shyamjvs WDYT?

[2016-12-15 18:47] Random-Liu commented on #45
@jfilak Thanks for the suggestion, the format really LGTM.

[2016-12-15 19:34] Random-Liu commented on #27
@yuvipanda Sorry for the delay.

We'll probably address this in https://github.com/kubernetes/node-problem-detector/pull/49.

[2016-12-15 19:39] Random-Liu commented on #3
This should be closed after #39 got merged.

[2016-12-15 20:03] Random-Liu commented on #44
@jfilak Thanks for your suggestion.

* On one hand, we'd like NPD to detect more issues. As you mentioned, MCEs and pstore are all very useful signals for bare metal.
* On the other hand, we'd also like to keep the default behavior minimum so as to make it light-weight. After all, problem is rare case, we should only catch problems people really care and avoid consuming too much resource.

That's

[2016-12-16 11:16] shyamjvs commented on #50
Yes, that sounds great @lantaol. Making a new NPD image would just be an
overkill.
Thanks!

On Thu, Dec 15, 2016 at 7:45 PM Lantao Liu <notifications@github.com> wrote:

[2016-12-28 20:47] shyamjvs commented on #50
Ref https://github.com/kubernetes/kubernetes/issues/39245
@Random-Liu What would be the easiest way to achieve this (i.e. make the apiserver IP address that the NPD talks to, overridable through a flag)?
Also, IIUC this should involve building a new docker image for NPD and uploading it to "gcr.io/google_containers/node-problem-detector:v0.2" in such a way that this won't affect other places where

[2016-12-28 21:40] wojtek-t commented on #50
@shyamjvs - I don't understand your question. You need to introduce a flag, and build the client based on the value of this flag (if unset, use InClusterConfig, otherwise, use address from the flag). What is your question?

Regarding image - we should NEVER change the image. We already have v0.2 so we should built v0.3 and update all references to the new image.

[2016-12-28 23:32] shyamjvs commented on #50
@wojtek-t I was confirming if overriding the apiserver IP address through a flag indeed the easiest option. But I found out a better solution that does't require us to touch any NPD code or image (described it in comments on [kubernetes/kubernetes/issue#39245](https://github.com/kubernetes/kubernetes/issues/39245)).

And regarding the last line of my previous comment, I meant that as part of addin

[2016-12-29 16:45] shyamjvs commented on #50
Continuing further discussion about this issue on [kubernetes/kubernetes/issue#39245](https://github.com/kubernetes/kubernetes/issues/39245) to avoid confusion between both threads.
We can continue the discussion here if and when we plan to change code in this repo.

[2017-01-05 19:06] Random-Liu commented on #50
Sorry for the delay. I was on vocation and just come back today.

There is an on-going effort by @andyxning to directly reuse the heapster code in NPD. https://github.com/kubernetes/node-problem-detector/pull/49

After this is merged, we should be able to use the same flag with heapster to config the master.

[2017-01-05 19:14] gmarek commented on #50
Good to know! Do you have any estimate on when #49 might land?

On Thu, Jan 5, 2017 at 11:06 AM, Lantao Liu <notifications@github.com>
wrote:

[2017-01-05 19:15] Random-Liu commented on #50
@gmarek I'll do another review today, and I hope it will be in this or next week.

[2017-01-07 00:56] Random-Liu opened #58 "NPD Kubernetes 1.6 Planning"
NPD (node problem detector) is introduced in Kubernetes 1.3 as a default add-on in GCE cluster.

At that time, it is mainly targeted on default GCE Kubernetes setup. However, as time goes by, some limitations were found such as [Journald support](#14), [Authentication Issue](#21), [Scalability Issue](#37)  which affected the adoption of NPD in many other environment.

In Kubernetes 1.6, we plan to

[2017-01-08 05:44] andyxning commented on #21
We may close this once #49 is merged. @sols1 @ApsOps @Random-Liu

[2017-01-08 10:40] andyxning commented on #45
@jfilak Awesome. 👋

[2017-01-09 23:56] yunjing opened #59 "Support SSL certificates"
Our k8s API server is running with a self-signed certificate to enable SSL. I am wondering what's the best way to specify a root CA when running node-problem-detector.

[2017-01-10 07:36] Random-Liu commented on #21
Close this one since #49 is merged. Please take look at the document about how to use the newly introduced `--apiserver-override` flag https://github.com/kubernetes/node-problem-detector#flags.

[2017-01-10 07:36] #21 closed

[2017-01-10 07:39] Random-Liu commented on #27
Close this one since #49 is merged. Please take look at the newly introduced `--apiserver-override` flag.

[2017-01-10 07:39] #27 closed

[2017-01-10 11:43] andyxning commented on #59
@yunjing with the newly added [`apiserver-override`](https://github.com/kubernetes/node-problem-detector#flags), you can choose to not use SSL when connecting to apiserver. :)

[2017-01-10 16:59] shyamjvs opened #60 "Bump the version to v0.3 in makefile, manifest and readme"
After adding the standalone mode in #49 , I created and pushed a new docker image gcr.io/google_containers/node-problem-detector:v0.3 which includes these changes for use by [kubemark](https://github.com/kubernetes/kubernetes/tree/master/test/kubemark). However this version bump has to be reflected in:
1. version tag inside the Makefile
2. image inside the node-problem-detector.yaml
3. readme, to

[2017-01-10 19:07] ApsOps commented on #21
@Random-Liu I'm unable to build (I've seen the open issue regarding journald usage). I also tried using image that @shyamjvs pushed (tagged v0.3), but it fails with
[code]
It seems to be missing a few commits or I might be doing something wrong in config. Could you please release a docker image, or suggest something I can try? :)

[2017-01-10 19:38] Random-Liu opened #61 "Add RBAC in the example yaml file and document"
Default Kubernetes setup removed ABAC support, and is only using RBAC now.
https://github.com/kubernetes/kubernetes/pull/39092

This is fine for the NPD in kube-system, which has enough permission. However, the NPD setup in the example and Readme.md may not be enough.

We should add documentation and example to demonstrate how to deploy NPD in a RBAC K8s cluster.

[2017-01-10 19:40] Random-Liu commented on #21
@ApsOps To build, you need to install libsystemd-journal-dev or libsystemd-dev to build it for journald support for the journald support.
After https://github.com/kubernetes/node-problem-detector/pull/39 is merged, you can avoid building journald support.

The error seems to me that you set `inClusterConfig` or some other boolean options, but not give it a value.

[2017-01-10 19:48] ApsOps commented on #21
Ah, makes sense. I had `&auth=&insecure=` from README. Removing these params worked!

[2017-01-10 19:49] Random-Liu commented on #60
@shyamjvs
I'm fine with releasing a v0.3 for now, because:
1) NPD can work now, except that:
  * Journald support is not working until https://github.com/kubernetes/node-problem-detector/pull/39 is merged.
  * Some RBAC setup is needed in a new K8s cluster https://github.com/kubernetes/node-problem-detector/issues/61.
2) This could unblock your kubemark work.

However, we should formalize the rele

[2017-01-10 19:51] Random-Liu commented on #60
Let's keep this issue open until I finish the release process, and update the Readme and changelog.

[2017-01-10 19:52] Random-Liu commented on #21
OK. Then the README is a bit misleading then.

Could you file an issue or pr about this? Thanks a lot @ApsOps

[2017-01-10 19:56] shyamjvs opened #62 "Kernel monitor file is wrongly named in node-problem-detector.go"
The default path to the kernel monitor config in [node-problem-detector.go](https://github.com/kubernetes/node-problem-detector/blob/master/node_problem_detector.go#L30) is '/config/kernel_monitor.json'. However, the file in the config/ directory of the repo is named 'kernel-monitor.json' (hyphen at one place and underscore at the other). They need to be named the same.

cc @Random-Liu

[2017-01-10 20:19] shyamjvs commented on #61
@Random-Liu I'm going to add node-problem-detector in kubemark using RBAC as we recently moved to RBAC in kubemark as well ([kubernetes/kubernetes/#39349](https://github.com/kubernetes/kubernetes/pull/39349)).
Once I get it working, I'll add a link to the PR here and it would be easier for you to then prepare example/readme.

[2017-01-10 20:21] Random-Liu commented on #62
In fact, we don't really use the default path usually.
We always pass a `--kernel-monitor` flag to specify the kernel monitor config path.
However, we should change the default path to make it more useful, really. Thanks for your PR!

[2017-01-10 22:42] Random-Liu commented on #61
Cool, thanks a lot @shyamjvs

[2017-01-10 23:18] #62 closed

[2017-01-11 01:04] andyxning commented on #60
/subscribe

[2017-01-11 04:58] ApsOps opened #65 "Failed to update node conditions, but error <nil>"
I'm seeing logs like these:
[code]

[2017-01-11 21:31] Random-Liu opened #67 "Release instruction is needed."
Forked from https://github.com/kubernetes/node-problem-detector/pull/63#issuecomment-271804778.
We need a release instruction to standardize the release process. The release instruction should cover:
* How to build release packages
  * Build docker image.
  * Build tar ball for standalone.
  * ...
* How to cut release
  * Version a release
  * Update CHANGELOG.md
  * Create branch/tag
  * Create g

[2017-01-11 21:35] Random-Liu opened #68 "Add --hostname-override flag."
Currently NPD gets hostname override from `NODE_NAME` env. https://github.com/kubernetes/node-problem-detector/blob/master/pkg/problemclient/problem_client.go#L73

This is not friendly for standalone mode.

We should add a `--hostname-override` flag, and set the flag with `NODE_NAME` from downward api in the yaml file. https://github.com/kubernetes/node-problem-detector/blob/master/node-problem-de

[2017-01-11 21:36] Random-Liu commented on #65
Is `ip-10-0-12-121.ec2.internal` the right node name in your cluster?

[2017-01-11 21:38] Random-Liu commented on #59
@yunjing With the new `apiserver-override`, you can create a kubeconfig file with the certificate, and then run npd with the command:
[code]

The kubeconfig format is the same with the ones used by other components like kubelet.
See https://kubernetes.io/docs/user-guide/kubeconfig-file/

[2017-01-11 21:40] ApsOps commented on #65
@Random-Liu Yes, that is what shows up in `kubectl get node`

[2017-01-11 21:50] Random-Liu commented on #65
@ApsOps Could your find some related log in apiserver log?

[2017-01-11 22:09] ApsOps commented on #65
@Random-Liu I see these, but these are pod creation/deletion logs I guess.
Is there something specific I should look for?
[code]

[2017-01-11 22:39] Random-Liu commented on #65
You can search `PATCH.*node-problem-detector` in `/var/log/kube-apiserver.log`.

[2017-01-11 23:59] Random-Liu opened #69 "Create "latest" NPD image."
We should create a latest NPD image when each release.

[2017-01-12 05:55] ApsOps commented on #65
I had to set verbosity of apiserver logs to `--v=3` to get these. Everything seems okay though.
[code]

[2017-01-12 07:38] #45 closed

[2017-01-12 10:00] ApsOps commented on #65
About 4 hours later, I'm seeing these three logs:
[code]

[2017-01-12 13:51] andyxning commented on #68
@Random-Liu I suppose sticking with `NODE_NAME`  for node-problem-detector wherever it is running. This makes the command line consistent when running  node-problem-detector in both situation. :)

We may need to add more clear info about this behavior in README.md instead of only recording it in CHANGELOG.md.

Today we may use `systemd` or other process manager tools to manager npd daemon. We can

[2017-01-12 14:56] shyamjvs commented on #68
I agree with @andyxning on this. Adding a --hostname-override flag wouldn't really help much as we would need to provide the value for the flag most probably through an env variable anyway if we do not know the node name statically. For instance a replication controller for a pod in which the npd is a container, so you pretty much don't know the name of a specific replica. An example of this is th

[2017-01-12 17:33] shyamjvs opened #73 "apiserver-override flag in standalone mode not working in kubemark"
So I create npd containers inside hollow-nodes (just for clarity: these are actually pods) of kubemark by passing the address of the kubemark master and the kubeconfig file through the override flag as follows:
[code]

I even checked inside the container using `kubectl exec` that the right kubeconfig file is present on the container and NODE_NAME env var is defined. Here's the kubeconfig:
[code]

[2017-01-12 18:41] Random-Liu commented on #65
@ApsOps Yeah, from the apiserver log, everything seems fine.

@ApsOps 409 is just conflict https://httpstatuses.com/409, which is normal because some other components like kubelet or node controller are also updating node object, sometimes there will be conflict, but we'll retry automatically.

From the log you provided, seems that NPD is working. Do you keep getting the log you mentioned?
[code]

[2017-01-12 18:57] Random-Liu commented on #68
@andyxning @shyamjvs
For DaemonSet, if we configure the pod to use HostNetwork, we can also let the pod to use os.Hostname.
For Standalone, if kubelet registers the node with --hostname-override, we need to change the hostname NPD using, too.

So in fact, there is no much difference between DaemonSet and Standalone on the hostname setting. That's why I prefer a --hostname-override flag which expli

[2017-01-12 20:00] ApsOps commented on #65
@Random-Liu I see `KernelDeadlock` type `NodeCondtion` when I describe node, so it seems to be working. But yeah, I keep getting this log (not continuously though).

[2017-01-13 19:17] Random-Liu commented on #65
@ApsOps Then, most possibly that your NPD is already running.

The error `failed to update node conditions: Operation cannot be fulfilled on nodes "ip-10-0-12-121.ec2.internal": <nil>` does happen when there is another components quickly updating the node status.

However, this will not cause any problem, unless NPD never gets chance to update.

[2017-01-13 20:43] ApsOps commented on #65
@Random-Liu Makes sense. Only thing bothering me now is `<nil>`.

I looked at the code, and it seems if there was an error, it should indeed be returned. https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/request.go#L866-L873

[2017-01-13 22:17] Random-Liu opened #76 "Standalone NPD Support"
For better reliability, in Kubernetes 1.6, we plan to add standalone NPD support to run NPD as a system daemon on each node.

To achieve this, we need to:
- [x] Add `apiserver-override` option to make it possible to use customized client config instead of `InClusterConfig`. https://github.com/kubernetes/node-problem-detector/pull/49
- [x] Make NPD wait for: https://github.com/kubernetes/node-probl

[2017-01-16 10:47] shyamjvs commented on #68
sgtm

[2017-01-16 11:45] andyxning commented on #68
Sounds reasonable. @Random-Liu I think i can add this functionality and at the same time adding more docs about `--hostname-override` in README by updating #72

[2017-01-16 14:56] andyxning commented on #76
@random-liu i may give the third one `NPD should host a simple http server for readiness check and health monitor` a try. :)

I am only familar with [docker distribution's health package](https://github.com/docker/distribution/tree/master/health). It can take item 1 and item 3 with endpoints being `/debug/health`. item 2 can be accomplished by import `net/http/pprof` package.

I am not familiar wi

[2017-01-16 15:09] andyxning commented on #19
apiserver may be **temporarily** unavailable or down.  An error log and make health check endpoint being 500 may be  more suitable when NPD can not connect apiserver. After apiserver come up to serve requests again, NPD should success and make health check endpoint being 200 again.

[2017-01-16 21:55] Random-Liu commented on #68
@andyxning Sure, thanks! Will review it as soon as you finish. :)

[2017-01-18 02:06] Random-Liu commented on #76
@andyxning Thanks a lot!

I think we need 2 endpoints:
* `/health`: Just return 200 to indicate that NPD is still running. We can do more health check in the future, but for now, only return 200 is good enough.
* `/conditions`: List all the current conditions in condition manager https://github.com/kubernetes/node-problem-detector/blob/master/pkg/condition/manager.go.
* `/debug/pprof`: Just import

[2017-01-18 02:22] Random-Liu commented on #19
The health check endpoint should not return 500 when apiserver is down. For DaemonSet, it may be fine. But for standalone mode, the health check endpoint will be used to monitor NPD health and restart if not. (See how we deal with kubelet and docker https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/health-monitor.sh)

I don't think we want to keep restarting NPD when apiserver i

[2017-01-18 14:12] shyamjvs commented on #73
@Random-Liu Can you update the vendored code from heapster, now that https://github.com/kubernetes/heapster/pull/1468 is merged?

[2017-01-18 19:03] Random-Liu commented on #68
Close this since https://github.com/kubernetes/node-problem-detector/pull/78 is merged.

[2017-01-18 19:03] #68 closed

[2017-01-18 22:04] Random-Liu commented on #73
@shyamjvs Will do this later. I tried just now, and it needs some complex Godep change to include newest heapster. Let's keep this issue open and do this later.

[2017-01-18 22:24] shyamjvs commented on #73
Sure. There's no hurry for this now that we have an alternative hack for kubemark :)

[2017-01-19 13:01] #50 closed

[2017-01-19 14:42] shyamjvs commented on #73
Closing this issue as it is being handled as part of the umbrella issue #76 and since it now works in kubemark.

[2017-01-19 14:45] shyamjvs commented on #76
@Random-Liu I think we should uncheck this item in the checklist until we merge the heapster vendor code and ensure that InClusterConfig is really working properly.

[2017-01-19 15:32] andyxning commented on #19
@Random-Liu

If health check endpoint is used to validate and restart npd if it returns with non 200 response code, npd should not response with 500 for an unreachable apiserver.

I agree that health check endpoint should only return non 200 response code when some unrecovered condition happened inside npd which makes it can not work properly.

[2017-01-19 19:26] Random-Liu commented on #76
@shyamjvs Current implementation is enough for standalone NPD, so for this issue we can check it.

How about we keep on tracking the issue in https://github.com/kubernetes/node-problem-detector/issues/73?

[2017-01-19 19:27] Random-Liu commented on #73
Reopen the issue to track the issue that kubeconfig doesn't work inside a pod, because it will fall back to `inClusterConfig`.

https://github.com/kubernetes/heapster/pull/1468 should be vendored to fix the issue.

[2017-01-24 08:39] #19 closed

[2017-02-01 20:41] #3 closed

[2017-02-01 20:41] #14 closed

[2017-02-02 00:37] Random-Liu opened #85 "Performance benchmark and optimization"
We've got some data from https://github.com/kubernetes/node-problem-detector/issues/2.

However, after that we've made a lot of changes. We should do benchmark to measure the cpu and memory usage. And optimize the log parsing code of kernel monitor if the resource usage is too high.

An accurate and acceptable number is important for NPD rollout.

/cc @dchen1107

[2017-02-02 00:50] Random-Liu opened #86 "We should add real case e2e test."
We already have a NPD e2e test in kubernetes repo: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/node_problem_detector.go.

However, the e2e test only doesn't actually test the NPD deployed in the cluster. It:
* Deploy a NPD pod with test config.
* Generate test log in the test log file.
* Check whether test node condition is set.

Although this test is still necessary, we should a

[2017-02-07 01:23] Random-Liu commented on #44
We plan to add arbitrary log support in 1.6, there are following working items need to be done:
- [ ]: Refactor kernel monitor to make it support arbitrary log monitoring. https://github.com/kubernetes/node-problem-detector/pull/88
- [ ]: Refactor the code to get rid of kernel log specific names. https://github.com/kubernetes/node-problem-detector/pull/92
- [ ]: Add multiple log watcher support, s

[2017-02-10 19:17] #47 closed

[2017-02-10 19:17] #48 closed

[2017-02-13 12:14] shyamjvs commented on #61
@Random-Liu Is this still on? If yes, here's the example for the npd role-binding (the role already exists in bootstrapping, so needn't create) -> https://github.com/kubernetes/kubernetes/blob/master/test/kubemark/resources/manifests/addons/kubemark-rbac-bindings/npd-binding.yaml
And for authenticating npd, here are the 2 things that one needs to do:
1. Create a bearer token (that you get if you c

[2017-02-21 22:31] Random-Liu commented on #85
Here is the new benchmark result. I still have an optimization in my mind, but the current resource usage already seems reasonable to me.

![screenshot from 2017-02-21 14 27 44](https://cloud.githubusercontent.com/assets/5821883/23188029/f4791fc8-f841-11e6-9578-54d360873f6a.png)

I'm adding 3 tests, will send a PR later:
* Move original npd functionality test from e2e into node e2e.
* Add benchmar

[2017-02-21 22:41] Random-Liu commented on #76
All finished, close this issue.

[2017-02-21 22:41] #76 closed

[2017-02-21 23:49] shyamjvs commented on #76
Hurray! Congrats :)

[2017-02-23 00:48] dchen1107 commented on #85
The benchmark looks find to me.

[2017-02-27 22:49] Random-Liu commented on #44
Close since this is done.

[2017-02-27 22:49] #44 closed

[2017-03-15 23:51] Random-Liu opened #102 "DaemonSet NPD creates /var/log/journal on non-journald node."
Ideally, we should not use journald config on non-systemd node. However, if we use, it is expected to error out.

However, now because of some unknown reason, NPD will create a `/var/log/journal` directory and keep going. Related code: https://github.com/kubernetes/node-problem-detector/blob/master/pkg/systemlogmonitor/logwatchers/journald/log_watcher.go#L141

This should not matter much, because

[2017-03-30 06:56] strugglingyouth opened #106 "Now i am running daemonset in all node, but how do i verify it is useful？"
What happens to the node wrong after creating daemonset? And set node to unscheduler？

Now i am running daemonset in all node, but how do i verify it is useful。

It is a bit difficult to simulate these problems。

Hardware issues: Bad cpu, memory or disk;
Kernel issues: Kernel deadlock, corrupted file system;
Container runtime issues: Unresponsive runtime daemon;
...

[2017-03-30 22:17] Random-Liu commented on #106
First thing you may want to check is `kubectl describe nodes` to see whether `KernelDeadlock` node condition shows up.

Currently, the kernel problem detection is purely based on the kernel log, you could inject kernel log to see whether NPD takes action correspondingly, e.g. problems in https://github.com/kubernetes/node-problem-detector/tree/master/test/kernel_log_generator/problems.

[2017-03-31 04:39] strugglingyouth commented on #106
I used kubernetes 1.6 testing  and  inject kernel log to /var/log/dmesg，but nothing happened。Do i have right?

[2017-03-31 17:45] Random-Liu commented on #106
@strugglingyouth Did you change the configuration correspondingly? https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor-filelog.json

You may want to inject log into /var/log/dmesg. Or you may want to change the configuration to point to /var/log/dmesg.

[2017-04-07 09:47] PANLEI361 opened #107 "now,i canot run it in kub1.5.3"
`Events:
  FirstSeen	LastSeen	Count	From			SubObjectPath				Type		Reason			Message
  ---------	--------	-----	----			-------------				--------	------			-------
  28m		28m		1	{kubelet 10.8.65.157}						Normal		SuccessfulMountVolume	MountVolume.SetUp succeeded for volume "kubernetes.io/host-path/5203c2d8-1b73-11e7-8754-46c88707ea0b-log" (spec.Name: "log") pod "5203c2d8-1b73-11e7-8754-46c88707ea0b" (

[2017-04-10 21:03] Random-Liu commented on #107
@PANLEI361 It seems that NPD exited after you started it. You should be able to see some error message in NPD log.

Could you use `kubectl logs` to get the log and paste here?

[2017-04-13 02:50] PANLEI361 commented on #107
`I0413 10:42:35.146371       1 kernel_monitor.go:83] Finish parsing log file: {WatcherConfig:{KernelLogPath:/log/kern.log StartPattern:Initializing cgroup subsys cpuset Lookback:10m} BufferSize:10 Source:kernel-monitor DefaultConditions:[{Type:KernelDeadlock Status:false Transition:0001-01-01 00:00:00 +0000 UTC Reason:KernelHasNoDeadlock Message:kernel has no deadlock}] Rules:[{Type:temporary Cond

[2017-04-13 02:51] PANLEI361 commented on #107
I0413 10:42:35.146371       1 kernel_monitor.go:83] Finish parsing log file: {WatcherConfig:{KernelLogPath:/log/kern.log StartPattern:Initializing cgroup subsys cpuset Lookback:10m} BufferSize:10 Source:kernel-monitor DefaultConditions:[{Type:KernelDeadlock Status:false Transition:0001-01-01 00:00:00 +0000 UTC Reason:KernelHasNoDeadlock Message:kernel has no deadlock}] Rules:[{Type:temporary Condi

[2017-04-13 02:52] PANLEI361 commented on #107
`I0413 10:42:35.146371       1 kernel_monitor.go:83] Finish parsing log file: {WatcherConfig:{KernelLogPath:/log/kern.log StartPattern:Initializing cgroup subsys cpuset Lookback:10m} BufferSize:10 Source:kernel-monitor DefaultConditions:[{Type:KernelDeadlock Status:false Transition:0001-01-01 00:00:00 +0000 UTC Reason:KernelHasNoDeadlock Message:kernel has no deadlock}] Rules:[{Type:temporary Cond

[2017-04-13 03:03] PANLEI361 commented on #107
[root@node-156 kubernetes.io~glusterfs]# kubectl logs node-problem-detector-2xgrq
I0413 10:42:35.146371       1 kernel_monitor.go:83] Finish parsing log file: {WatcherConfig:{KernelLogPath:/log/kern.log StartPattern:Initializing cgroup subsys cpuset Lookback:10m} BufferSize:10 Source:kernel-monitor DefaultConditions:[{Type:KernelDeadlock Status:false Transition:0001-01-01 00:00:00 +0000 UTC Reason

[2017-04-13 18:36] Random-Liu commented on #107
Yeah, I think that is the problem.

It seems that you didn't enable [`ServiceAccount`](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/) in your cluster.

If you don't want to use `ServiceAccount`, you could configure the `apiserver-override` flag to tell NPD how to connect apiserver, e.g.:
[code]

The flag follows the same format with heapster `source` config: h

[2017-04-18 02:02] WIZARD-CXY opened #108 "can't update node condition"
Hi, I deployed npd yesterday in my k8s 1.6, Now I find it can't update node condition.Below is its log

[code]
I wonder why this happen? @Random-Liu thx

[2017-04-18 05:38] Random-Liu commented on #108
@WIZARD-CXY Do you constantly see this error or only several times?

This error is normal. In a Kubernetes cluster, there are several components updating the same node object, kubelet, node problem detector, node controller etc.

Conflict may happen because of the unavoidable race, however this should be rare and NPD will retry after the conflict. If you only see this several times, it should be f

[2017-04-18 09:39] WIZARD-CXY commented on #108
got it thx

[2017-04-18 09:39] #108 closed

[2017-04-27 15:14] jason-riddle opened #109 "[Question] Should this tool be monitoring CPU steal?"
I was reading through http://blog.scoutapp.com/articles/2013/07/25/understanding-cpu-steal-time-when-should-you-be-worried and I'm curious if the node-problem-detector should be watching for CPU steal?

[2017-04-27 15:31] jason-riddle opened #110 "[Feature] Check for SELinux / AppArmor Denies"
If the kubelet is installed and then for some reason a security policy is changed later on a critical kubernetes component, it might be wise to watch out for that.

[2017-05-24 21:48] shyamjvs commented on #73
@Random-Liu Is this issue still valid or can we close this?

[2017-05-25 03:22] Random-Liu commented on #73
@shyamjvs I think this still valid.

[2017-06-02 00:17] bowei opened #113 "Documentation: example of how to add a new detector"
It would be good to put some documentation as to how to write a new detector. Maybe give an example of a trivial detector in the code base that contributors can take and extend.

[2017-06-08 17:57] jdfless opened #114 "status doesn't change when injecting log messages"
I cannot get the node problem detector to change a node status by injecting messages.

I am using kubernetes 1.5.2, Ubuntu 16.04, kernel 4.4.0-51-generic.

I run the npd as a daemonset. I have attempted to get this to work with the npd as version 0.3.0 and 0.4.0. I start the npd with the default command, using /config/kernel-monitor.json because my nodes use journald.

I have /dev/kmsg mounted int

[2017-06-10 03:34] Random-Liu commented on #114
@jdfless Please try:
[code]

[2017-06-12 17:37] jdfless commented on #114
@Random-Liu: I had tried this previously, and again this morning, unfortunately it has no effect.

My exact commands and output:

[code]
I can see the heartbeat time continuing to increase but the status never changes.

When I exec into the pod, I am not seeing anything from journalctl -k, is that expected? All I see is:
[code]
I have verified the /var/log/journal is mounted properly inside /log/j

[2017-06-12 17:58] jdfless commented on #114
As a follow up I thought for certain I had found my issue, I was mounting /var/log into /log inside the pod (this is what is on the front page of the github in the docs so that tripped me up), however once I fixed this and made sure the rest of the daemonset yaml had no other differences (although I don't use the --logtostderr flag I assume that is harmless), none of the behavior I am seeing is ch

[2017-06-12 18:50] Random-Liu commented on #114
No, it's not.

Sorry, actually you should mount `/var/log` to `/var/log`. The document is out-of-date...Please use [the setup](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/node-problem-detector/npd.yaml
) in Kubernetes as a reference.

I'll try to send a PR to update the document this week.

Can you run `systemctl --version` and show me the result. I think it's caused by som

[2017-06-12 18:54] jdfless commented on #114
Update: by mounting /etc/machine-id into the pod I can now view the journalctl output. Still no luck with my custom trigger however.

I start the pod with `/node-problem-detector--system-log-monitors=/config/kernel-monitor.json,/config/custom_docker_monitor.json`

Here is my custom docker monitor:
[code]

And here is the journalctl output from inside the pod (this is looping, intermingled with act

[2017-06-12 18:59] Random-Liu opened #115 "Use chroot instead of relying on a systemd base image."
We want NPD to support journald log even when it's running as daemonset inside a container.

However, it's hard to consume host journal log inside container. Previously, we use `fedora` base image, and rely on the journald library inside the base image to understand and read the host journald log. However, there are several limitations:
1) The fedora base image is pretty big, and there are a lot o

[2017-06-12 19:01] jdfless commented on #114
My systemd version outside the container is 229, inside is 231. I can definitely try and run as a systemd service.
[code]

[2017-06-12 19:03] Random-Liu commented on #114
Does kernel log work now?

[2017-06-12 19:05] jdfless commented on #114
It works as described [above](https://github.com/kubernetes/node-problem-detector/issues/114#issuecomment-307868138) in that I can see that status change in the json, but the node is still "Ready" which I didn't expect.

[2017-06-12 20:45] Random-Liu commented on #114
That is expected behavior. Currently, NPD only updates node conditions it owns, e.g. `KernelDeadlock`.
`NodeReady` is only managed by Kubelet.

Currently, scheduler won't directly react on the conditions generated by NPD. Ideally, there should be another cluster level controller analyzes these conditions and make decision, e.g. set node taint, restart VM etc.

We don't have a opensource version of

[2017-06-12 20:46] Random-Liu commented on #114
Cool. Actually I'm not quite familiar with the underlying mechanism of journald. If `/etc/machine-id` is required, maybe we should document this and update the default yaml.

[2017-06-13 22:09] jdfless commented on #114
@Random-Liu:
I wanted to circle back to the main issue of this ticket since it is still unresolved for me. I am outside of GCE and need to have the npd alert on a custom string observed in a journald docker log. Can you confirm that this feature works in GCE and please provide an example for how you verify this?

I ask for an example because I was surprised that I needed to echo "kernel: " before

[2017-06-14 21:54] Random-Liu commented on #114
I've just tried.
[code]
Will generate a `TestCondition` for `time="2017-06-14T21:43:46.395377174Z" level=debug msg="Calling GET /v1.23/images/json"`

NPD log:
[code]

I started NPD inside a container:
[code]

[2017-06-14 22:09] jdfless commented on #114
That is interesting, I was finally able to get this to work (was actually writing something up) but only once I changed the pluginConfig.source to "dockerd"
For instance, the following generates nothing:
[code]
While simply changing .pluginConfig.source from "docker" to "dockerd" the npd triggers:
[code]

I am running the npd standalone with:
[code]

I am using docker version 1.12.6 which logs to

[2017-06-14 22:29] Random-Liu commented on #114
Yeah, that's possible.

We use `SD_JOURNAL_FIELD_SYSLOG_IDENTIFIER`, see https://github.com/kubernetes/node-problem-detector/blob/master/pkg/systemlogmonitor/logwatchers/journald/log_watcher.go#L174.

[code]

We need one configure for each `SD_JOURNAL_FIELD_SYSLOG_IDENTIFIER`.

[2017-06-14 22:31] jdfless commented on #114
Great, thanks for all the help on getting this sorted out. I am going to close this issue now.

[2017-06-14 22:31] #114 closed

[2017-06-17 21:50] trinitronx opened #118 "node-problem-detector:v0.4.0 - failed to update node conditions: Timeout"
Hello,

I am testing out the [node-problem-detector cluster addon][npd-0.4.0] and am seeing this error on only 1 node:

 - `failed to update node conditions: Timeout: request did not complete within allowed duration`

This cluster has had issues in the past due to some `etcd3` nodes becoming unhealthy, and `flanneld` being unable to connect to `etcd3` at one point causing `kube-apiserver` to fail

[2017-06-21 01:14] Random-Liu opened #120 "A systemd service for test."
After introducing a new pattern, we usually need to verify it.

However, it's hard to trigger a real problem for a given service, so we usually have to inject log to verify it.

It's hard to inject log into a given systemd service. We should have a test systemd service which does nothing but generating specified log. We could let NPD parse the log of the test service to verify the newly introduced

[2017-06-21 01:15] Random-Liu commented on #120
/cc @ajitak

[2017-06-21 11:58] ReSearchITEng opened #121 "does not create automatically /var/log/journal"
Hi,

1. great initiative. Here is my experience on RHEL/CentOS 7

2. Apparently node-problem-detector is not able to work with the /run/log/journal/ (unfortunately) - correct? If so, it seems like a big limitation, no?

3. The issue is that even if cannot do that, it also fails to start, as it depends on the existence of "/var/log/journal".  Knowing that it's not able to use /run/log/journal, is i

[2017-06-21 21:16] Random-Liu commented on #121
great initiative. Here is my experience on RHEL/CentOS 7

Are you running NPD in container or directly on the node?
* If it's the former one, you could always mount journal to `/var/log/journal` inside the container, e.g. `docker run -v /run/log/journal:/var/log/journal ...`.
* If it's the later one, you could [update configure](https://github.com/kubernetes/node-problem-detector/blob/master/confi

[2017-06-23 14:46] ReSearchITEng commented on #121
No, I am not using kube-up.sh, I am using kubeadm in ansible, on prem, using: https://github.com/ReSearchITEng/kubeadm-playbook/
Inside, I am using:  https://github.com/kubernetes/kubernetes/raw/master/cluster/addons/node-problem-detector/npd.yaml -> therefore /var/log is being mounted inside.
I noticed #102, it's related to it, but different.

I would like to emphasize the feature request: /run/l

[2017-06-26 12:27] shyamjvs opened #124 "NPD sending too many node-status updates in scale tests"
We ran 4k-node scalability test and observed that fluentd gets oom-killed frequently.
However, npd seems to send too many patch node-status requests (~3k qps out of ~11k total qps) due to it.
Ref: https://github.com/kubernetes/kubernetes/issues/47344#issuecomment-311018976 https://github.com/kubernetes/kubernetes/issues/47865#issuecomment-310861405

Why is it reporting oom events when kubelet seem

[2017-06-26 12:49] shyamjvs commented on #124
We should at least limit qps for npd.

[2017-06-27 16:31] Random-Liu commented on #124
NPD only send event when OOM happens, it doesn't patch node status.

Yeah, we should consolidate this, either remove the OOM event from kubelet. Or let kubelet take care of pods, and NPD only monitor system services.

[2017-06-27 16:32] gmarek commented on #124
+1 for NPD caring only about system services (i.e. not-pods).

[2017-06-27 18:27] shyamjvs commented on #124
@Random-Liu I just verified from the apiserver logs (from run 10 of gce-enormous-cluster test) and indeed the majority of the requests are PATCH node status.

[code]

[2017-06-27 18:31] Random-Liu commented on #124
@shyamjvs If so, this seems to be client-go that retries patching. NPD won't do that so frequently.

Client-go should probably be error code aware, retry immediately for conflict, but wait longer for 429.

[2017-06-27 18:46] yujuhong commented on #124
The REST client has its own retry loop: https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.1/staging/src/k8s.io/client-go/rest/request.go#L858
kubelet (or any other system component) using the client will retry in the same manner. The client has a [backoff manager](https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.1/staging/src/k8s.io/client-go/rest/request.go#L814), but I doubt i

[2017-06-27 18:53] shyamjvs commented on #124
Makes sense. Filed an issue for it. We should have the backoff manager at least for the case of 429s imo.

[2017-06-27 18:54] shyamjvs commented on #124
@Random-Liu @yujuhong Thanks a lot for looking into it :)

[2017-06-28 16:23] therc opened #125 "OOMKilling not triggering with recent kernels"
With Linux 4.9, and perhaps earlier versions, there's a trailing

`, shmem-rss:\\d+kB`

Should it be optional in the built-in regex, are admins expect to edit their configuration, or something else?

[2017-06-28 22:03] Random-Liu commented on #125
Yeah, admins should edit their configuration for their environment for most cases. But for this one, I think it should be optional in the built-in regex.

Do you mind sending a PR for this? :) If not, I could do that later.

[2017-06-30 18:29] shyamjvs commented on #124
Linking issue https://github.com/kubernetes/kubernetes/issues/47344

[2017-07-06 01:36] WIZARD-CXY opened #126 "what about the remedy system?"
Now I have deployed the node-problem-detector in my cluster and defines some new node condition type, but only to find that I can do nothing about the new condition like KernelHasDeadlock, I read the doc talking about remedy system, I think it is a controller like nodeController kind of thing, I wonder is there any plan about this remedy system and If I want to define my own, where can I start? Th

[2017-07-11 02:52] CaoShuFeng opened #127 "coredump detector for pods"
I commit this issue to ask whether "coredump detector" is in the scope of this add-on.
I wrote a proposal about coredump in kubernetes cluster:
https://github.com/kubernetes/community/pull/658

But smarterclayton said we should not add a new api for coredump feature, we only need a privileged pod running on the node to capture this and report it via a different channel.

So, I am planning to add a

[2017-07-11 03:27] dchen1107 commented on #127
I put my comment at the original proposal before I noticed this request. I copied the comment here:

Node-problem-detector (NPD) is designed to detect hardware, kernel, filesystem, etc. issues, which requires the remedy / repair actions from the cluster admin or auto management system. It is not designed for debugging application issues. Also NPD reports those problems to kube-apiserver, which def

[2017-07-11 09:53] #127 closed

[2017-07-11 09:54] CaoShuFeng commented on #127
@dchen1107 Thanks for your guide!

[2017-08-01 23:55] Random-Liu commented on #126
@WIZARD-CXY We don't have plan to work on open source remedy system yet, because problems are usually very environment specific.

It's still possible to have a generic opensource remedy system which makes decision based on some configurable rules or more intelligent algorithms, but it's not prioritized yet.

In GKE, we have a auto-repair system which makes repair decision based on signal from NPD,

[2017-08-02 02:00] WIZARD-CXY commented on #126
Oh, last day when I use GKE, I found this feature: "node auto-repair ". I find it is interesting, can I get more info on this feature?

[2017-08-03 23:16] Random-Liu commented on #58
Close this issue since all P0 items are done.

[2017-08-03 23:16] #58 closed

[2017-08-23 05:08] HardikDR commented on #106
Or you can also make use of the script https://github.com/kubernetes/node-problem-detector/blob/master/test/kernel_log_generator/generator.sh ,
either via docker or setting up PROBLEM Env manually in script and running on hostmachine !!
For verification , it would be also be useful to put a watch on the events , and look for the ones coming from Node.
`kubectl get events | grep Node`

[2017-08-23 07:26] #126 closed

[2017-08-23 09:21] HardikDR commented on #126
As I understood remedy system would eventually be a controller listening for the events from the NPD.
Wondering if there is any proposal already put for the architecture of the controller ?

`In GKE, we have a auto-repair system which makes repair decision based on signal from NPD, you could easily build a similar component in your environment. :)`
I could not find much around whats mentioned..
Do

[2017-08-23 10:45] WIZARD-CXY commented on #126
@HardikDR your idea is right, U can write a new controller which mimics the node controller in controller-manager to get it work. U may find this https://www.youtube.com/watch?v=U2Bm-Fs3b7Q useful

[2017-08-25 08:14] nlamirault opened #135 "ARM version"
Is a multi-architecture version (ARM) possible?

[2017-08-31 21:36] jhorwit2 opened #138 "port 10256 conflicts with kube-proxy"
it seems that a healthcheck/debug port was added [here](https://github.com/kubernetes/node-problem-detector/pull/83); however, it conflicts with the [kube-proxy healthz port](https://github.com/kubernetes/kubernetes/blob/01e961b380eea90d111156b8e99cc9621c5cdb5f/pkg/apis/componentconfig/v1alpha1/types.go#L110). They should be different.

[2017-09-03 14:13] andyxning commented on #138
@jhorwit2 The kube-proxy healthz port is added in [this commit](https://github.com/kubernetes/kubernetes/commit/ca59d909cf1f1effad62830b1beeb3ea8a9d2125) which is later than npd healthz.

It is absolutely ok to change NPD healthz port through command line `port`.

I do not think we need to change the default healthz port for NPD as it may still conflict with other daemons on that node whatever por

[2017-09-03 14:19] andyxning commented on #35
@jfilak I am working on porting [Nagios Plugin Interface](https://assets.nagios.com/downloads/nagioscore/docs/nagioscore/3/en/pluginapi.html) to NPD which uses `stdout` and return status code to identify the status of a service or node status. IIUC, ABRT can not use `stdout` and return status code to communicate with NPD, right?

If then, how about we use a localhost http api to listen for third p

[2017-09-03 14:53] jhorwit2 commented on #138
If im not mistaken i thought there was a doc with port allocations to avoid conflicts.

[2017-09-04 09:34] andyxning commented on #138
@jhorwit2 Yes, there is a [ports pkg](https://github.com/kubernetes/kubernetes/blob/master/pkg/master/ports/ports.go). It is recommended to register all used ports in that package however it is not forced. :(
Therefore Kubernetes and satellites may conflicts.

Actually, when @Random-Liu added healthz port to NPD, we have [grep `10256` in Kubernetes and some satellites](https://github.com/kubernete

[2017-09-04 11:01] andyxning commented on #138
@jhorwit2 Just found that this has been fix in master via #128 by changing `10256` to `20256`.

[2017-09-04 13:59] jhorwit2 commented on #138
Whoops I must have missed the `2` at the beginning when I checked master. Thanks @andyxning

[2017-09-04 13:59] #138 closed

[2017-09-26 09:52] xiuli2 commented on #106
@Random-Liu  I simulate the problems like the following in /var/log/kern.log

kernel:[534024.040037] unregister_netdevice: waiting for lo to become free. Usage count = 2
kernel: Memory cgroup out of memory: Kill process 1012 (heapster) score 1035 or sacrifice child
kernel: Killed process 1012 (heapster) total-vm:327128kB, anon-rss:306328kB, file-rss:11132kB

I am not sure whether the log is OKto v

[2017-10-10 06:45] xiuli2 commented on #121
@Random-Liu  except for manually creating /var/log/journal and "var/log/kern.log",  also need manually create "var/log/docker.log", I think this is the similar bug with "/var/log/kern.log" is missing on my OS. I guess it's not in use any longer or it should be configured?" which was mentioned above.

Environment:  Red Hat Enterprise Linux Server release 7.4 (Maipo)

[2017-10-13 11:39] Cplo opened #141 "No create function found for plugin "journald""
hi, I used the master branch to build a new node-problem-detector（go build -o node-problem-detector）, then
I try to run，but some error occored
[code]
I want to know why, thank you☺

[2017-10-13 14:49] Spellchaser opened #142 "Vague|Nonexistent Build Documentation"
As a fresh new user, I tried to get and build this project.

My first issue is that documentation on where/how one is supposed to download this projects is nonexistent.

These DON'T work
[code]

Also git cloning this project anywhere except $GOPATH/src/k8sio/|$GOROOT/src/k8sio/ fails to build
[code]

After locating where it expects to be cloned, making fails anyway. I guess this expects ubuntu, bu

[2017-10-15 16:07] andyxning opened #143 "Bump to kubernetes 1.8 tracking issue"
This is a tracking issue for bump node-problem-detector kubernetes to 1.8.

- [ ] bump heapster kubernetes to 1.8 [heapster #1844](https://github.com/kubernetes/heapster/pull/1844).
- [ ] bump node-problem-detector kubernetes to 1.8.

After bump kubernetes to 1.8, i will prepare the PR for adding support for customized problem detectors. :)

Sorry for the delay.

/cc @Random-Liu

[2017-10-16 02:44] andyxning commented on #142
@Spellchaser Thanks for ping us about the lack of dev && build doc.

This should not work as we have not update k8s.io like what @samuelmanzer does for kube-state-metrics in [#71](https://github.com/kubernetes/k8s.io/pull/71).

Will do this later.

It is a de-facto that all kubernetes projects(except for some incubator ones) should be placed under `$GOPATH/src/k8s.io` or `$GOROOT/src/k8s.io`. Noth

[2017-10-16 09:41] andyxning commented on #141
@Cplo What is your `/etc/docker-monitor.json` file content?

[2017-10-30 10:44] ananas-hebo opened #147 "flag provided but not defined: -apiserver-override?"
My k8s without rbac.
So  i use like : [docs usage](https://github.com/kubernetes/node-problem-detector#usage)

But i got a "flag provided but not defined: -apiserver-override" error.

yaml file:
[code]

[2017-11-02 09:53] KeithTt commented on #23
meet the same issue:

[code]

I modify the unit file of kubeadm:

[code]

but it does not work...

[2017-11-02 10:26] KeithTt commented on #23
furthermore, it always dial tcp port 6443, but this port is not listening.

[2017-11-16 13:24] kevtaylor opened #149 "Failed to update node conditions"
I have deployed the node-problem-detector daemonset with an RBAC enabled cluster. I have a serviceaccount and clusterrolebinding to system:node-problem-detector

[code]
k8 version is v1.7.7+coreos.0
npd is 0.4.1

I am not sure if this is RBAC related or not, but if I use kubectl to patch the node using the serviceaccount token, it is not allowed through that role, but even if I create a rolebindin

[2017-11-19 13:18] andyxning opened #150 "Tracking issue for adding custom plugins"
This is a tracking issue for what we still need to do after adding custom plugins in #145 .

- [x] Complete `pkg/custompluginmonitor/README.md`
- [x] Support per-rule interval
- [x] Emitting events when Condition changes.
* Added in https://github.com/kubernetes/node-problem-detector/pull/151
- [x] support unknown condition status.
* Added in https://github.com/kubernetes/node-problem-detector/pul

[2017-11-21 21:54] Random-Liu commented on #150
Comparing with actual event, condition change should be rare. If node condition changes too frequently, it will cause even more issues, e.g. kubelet can't update node condition.

So I think it's fine to generate an event for condition change.

[2017-11-21 23:31] Random-Liu commented on #149
You can take a look at how K8S upstream addon NPD is created. https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/node-problem-detector/npd.yaml

We do need service account and role binding for npd.

[2017-11-22 22:19] Random-Liu commented on #150
We also need to add integration test for custom plugin in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/node_problem_detector_linux.go

[2017-12-20 16:17] andyxning commented on #59
@Random-Liu @yunjing I think this issue can be closed for now. :)

[2018-01-15 13:32] andyxning commented on #143
/remove-lifecycle stale

[2018-01-15 13:35] andyxning commented on #141
/close

Close this via https://github.com/kubernetes/node-problem-detector/issues/141#issuecomment-336835017, @Cplo feel free to reopen this if you still have some questions.

[2018-01-15 13:35] #141 closed

[2018-01-15 13:36] andyxning commented on #142
/remove-lifecycle stale

[2018-01-16 00:19] trinitronx commented on #118
/remove-lifecycle stale

[2018-01-24 22:19] patrickf55places commented on #60
@Random-Liu any progress on this issue (which should be updated to 0.4.1)?

[2018-01-30 12:05] shyamjvs commented on #124
/remove-lifecycle rotten

[2018-02-14 17:17] #26 closed

[2018-02-16 14:00] #37 closed

[2018-02-17 00:10] #43 closed

[2018-02-18 05:39] #69 closed

[2018-02-18 08:42] #67 closed

[2018-02-18 09:43] #65 closed

[2018-02-18 16:50] #59 closed

[2018-02-18 22:55] #86 closed

[2018-02-19 06:02] #61 closed

[2018-02-19 12:08] #85 closed

[2018-02-20 07:27] #102 closed

[2018-02-21 05:50] #107 closed

[2018-02-21 20:04] #109 closed

[2018-02-21 20:04] #110 closed

[2018-02-23 04:36] #73 closed

[2018-02-23 22:54] #60 closed

[2018-02-24 00:55] #113 closed

[2018-02-25 13:31] #115 closed

[2018-02-27 09:14] #120 closed

[2018-02-28 23:52] #125 closed

[2018-03-02 15:33] gkGaneshR opened #161 "Unit testing for SetNodeNameOrDie in package cmd/options"
Is this a BUG REPORT or FEATURE REQUEST?:

Uncomment only one, leave it on its own line:
/kind feature

What happened:
Unit testing for node-problem-detector/cmd/options is yet to be done.

What you expected to happen:
Under package cmd/options, the testing for SetNodeNameOrDie need to decide Nodename based on environment variable "NODE_NAME" or hostname or hostnameoverride variable.

How to repro

[2018-03-02 16:23] gkGaneshR opened #163 "Include cmd/options in makefile test to run go tests"
Is this a BUG REPORT or FEATURE REQUEST?:

Uncomment only one, leave it on its own line:
/kind feature

What happened:
Makefile's test must include cmd/options package for unit testing.

What you expected to happen:
Unit testing for node-problem-detector/cmd/options is yet to be done and the corresponding package path needs to be included in makefile test.

How to reproduce it (as minimally and pr

[2018-03-09 10:15] #161 closed

[2018-03-10 22:46] #35 closed

[2018-03-12 02:13] #106 closed

[2018-03-12 18:29] #121 closed

[2018-03-19 17:14] byxorna commented on #150
Is this still in flight? `master` never registers the custom plugin with `registerLogWatcher(customPluginName, ...)`. Is this something that is actively being worked on?

[2018-03-20 11:01] andyxning commented on #150
@byxorna For now, i am ok to work on any problem you have. But as @Random-Liu has no time to focus on this project for now, i can only help to address any issues or review PRs.

For merging or any other problem, we can only wait @Random-Liu to come back. :)

[2018-03-20 11:01] andyxning commented on #150
/remove-lifecycle stale

[2018-03-20 15:43] byxorna commented on #150
@andyxning cool, thank you! Is the custom plugin in a state where you will accept a PR to enable it?

Its unclear to me whether it is feature complete (but not hooked up) or still a WIP, because master has https://github.com/kubernetes/node-problem-detector/blob/master/config/custom-plugin-monitor.json committed, but will refuse to load that config due to `No create function found for plugin "cust

[2018-03-25 11:11] andyxning opened #165 "Enable k8s-ci-robot for node-problem-detector"
Enable k8s-ci-robot for node-problem-detector.
* add OWNERS file to the root of node-problem-detector
* enable node-problem-detector in test-infra just like what we do for kube-state-metrics in https://github.com/kubernetes/test-infra/pull/7027

[2018-03-25 15:13] andyxning commented on #150
@byxorna

For now it is usable in the master branch. But there do have an enhance PR from @Random-Liu to enhance custom plugin manager in https://github.com/kubernetes/node-problem-detector/pull/151.

Actually, i have used custom plugin manager internally with #151 . I will dig into the reason about `No create function found for plugin "custom"`.

[2018-03-26 03:29] andyxning commented on #150
@byxorna What command line did you use in your usage?

[2018-03-26 03:34] andyxning commented on #150
@byxorna Seems like that you run custom plugin monitor with `--system-log-monitors`. Just like something: `--system-log-monitors=custom-plugin-monitor.json`.

In the [README about flags](https://github.com/kubernetes/node-problem-detector#flags), it is documented that custom plugin monitor configuration file should only be used with `--custom-plugin-monitors` command line instead of `--system-log-

[2018-03-26 15:43] byxorna commented on #150
@andyxning ah, thank you! that behavior is non-intuitive; I was passing the custom.json to `--system-log-monitors`.

An aside, but what is the intent of keeping `--system-log-monitors` and `--custom-plugin-monitors` separate? I imagine its operationally easier to just keep a dir with all your monitors (custom or otherwise) and let the config loading/parsing in NPD sort them out :)

[2018-03-26 20:04] #165 closed

[2018-03-27 02:49] andyxning commented on #150
@byxorna That's a good UX enhance suggestion. The reason to do seperate `--system-log-monitors` and `--custom-plugin-monitors` is they do have some different configuration. We can merge system log monitors config and custom plugin monitors together, but that will make the code more complicated and hard to maintain. By splitting them, we can make the code more moduling. :)

[2018-03-27 17:08] byxorna commented on #150
@andyxning on the other hand, it feels messy to make end users feel pain caused by the internal design details of this software; they shouldnt have to know or care _how_ its implemented. 😄

[2018-03-29 13:04] #147 closed

[2018-04-04 13:18] weinliu opened #167 "LOG fails got parsed"
Hi @joelsmith ,

I used Log Generator to get logs for kernel-monitor-filelog.json
https://github.com/kubernetes/node-problem-detector/tree/master/test/kernel_log_generator

[code]

But it fails to get parsed on pods (logs)
[code]

Any suggestions for generating the log?

The same issue for docker logs
docker-monitor-filelog.json

[code]

[2018-04-09 09:04] weinliu commented on #106
/reopen
Hi @Random-Liu , I've got the same question with @xiuli2 , how can I verify the NPD is working?
I got docker-monitor.json and kernel-monitor enabled: `--system-log-monitors=/etc/npd/kernel-monitor.json,/etc/npd/docker-monitor.json`

Then I generated a fake journald log generated:

[code]

But  I can not see any output for NPD from `kubectl get events | grep Node` or `describe node NodeName

[2018-04-09 09:20] weinliu opened #170 "How can I verify if NPD is working?"
Hi @Random-Liu ,and @joelsmith , I've got the same question with @xiuli2 , how can I verify the NPD is working?
I got docker-monitor.json and kernel-monitor enabled: `--system-log-monitors=/etc/npd/kernel-monitor.json,/etc/npd/docker-monitor.json`

Then I generated a fake journald log generated:

[code]

But  I can not see any output for NPD from `kubectl get events | grep Node` or `describe node

[2018-04-09 15:59] joelsmith commented on #170
@weinliu

Here's my workflow:

1. Make sure that the node is running NPD

[code]

2. Make sure that the node has a good status:

[code]

which should return something like this:

[code]

3. On the node, simulate a log message:

[code]

4. Look at the logs of the NPD pod on the node to see if it says it has seen the log message:

[code]
and that should show some logs like:
[code]
5. Verify that the

[2018-04-11 13:01] weinliu commented on #170
Hi @joelsmith ,

How can I verify if https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor-filelog.json is working?

by echoing to /dev/kmesg, I can not write to /var/log/kern.log

[2018-04-11 14:57] joelsmith commented on #170
@Random-Liu would you mind closing this? I don't think there was an issue with NPD.

[2018-04-11 15:43] joelsmith commented on #167
@weinliu The `generator.sh` script is for simulating kernel events via the system's logging process. The idea is that you send a message to `/dev/kmsg` which will act as though the kernel created the log message. With that in mind, it's probably not a good idea to append to a log file that a system logger is writing to. Especially since the `generator.sh` script does not format log messages the sa

[2018-04-12 02:40] weinliu commented on #170
Thanks for helping out!

[2018-04-12 02:40] #170 closed

[2018-04-12 05:31] weinliu commented on #167
Thanks for the detailed explanation.

[2018-04-12 05:31] #167 closed

[2018-04-12 10:32] andyxning commented on #163
@gkGaneshR Does this have been addressed by https://github.com/kubernetes/node-problem-detector/pull/162.

[2018-04-12 11:40] gkGaneshR commented on #163
Yes, I'll close the issue. Thanks

[2018-04-12 11:40] #163 closed

[2018-04-15 14:33] andyxning commented on #143
/remove-lifecycle stale

[2018-04-15 14:33] andyxning commented on #142
/remove-lifecycle stale

[2018-04-18 21:03] erstaples opened #171 "v0.4.1 image does not support `--custom-plugin-monitors` flag"
I'm using the `gcr.io/google_containers/node-problem-detector:v0.4.1` image.

When I deploy the node problem detector with a custom plugin monitor, I get the following error:

[code]

This is an available option according to the README.md:

[code]

[2018-04-20 00:09] andyxning commented on #171
The custom plugin monitor has only been available on master branch for now.

The functionality for custom plugin monitor has still some PR or issue to be improved.
* https://github.com/kubernetes/node-problem-detector/issues/150
* https://github.com/kubernetes/node-problem-detector/pull/151

The other way is to compile the master branch code for now

[2018-04-20 00:11] andyxning commented on #171
/cc @Random-Liu

Do you have some time to first address the comments on #151 and compile and build the new image for node-problem-detector?

[2018-04-21 01:24] #149 closed

[2018-05-04 01:52] andyxning commented on #171
Close this issue for now. Feel free to reopen it once you still have some questions. @erstaples .

[2018-05-04 01:52] andyxning commented on #171
/close

[2018-05-04 01:52] #171 closed

[2018-05-10 02:16] calvinyv opened #172 "Wrong parm --kernel-monitor in NPD 0.4.1 sample yaml"
I update the image to NPD 0.4.1 in sample yaml file deployment/node-problem-detector.yaml, I'm using  k8s 1.10.2, when apply this file, I got below error:

The DaemonSet "node-problem-detector" is invalid: spec.template.metadata.labels: Invalid value: map[string]string{"app":"node-problem-detector"}: `selector` does not match template `labels`

Then I edit that yaml, and make below change:
    met

[2018-05-11 03:23] danielzhanghl opened #173 "new release"
in the release tab, that is released this on Jun 22, 2017, but seems the code changes after that.
 could you load a latest one? thanks.

[2018-05-11 05:56] danielzhanghl commented on #173
need yum install libudev-devel for the build pass.

[2018-05-11 05:56] #173 closed

[2018-05-15 15:03] MoShitrit opened #174 "Is there an option to read `journald` without a file? (basically tail `journalctl` output)"
We would like to start using `npd` in our environment. However, the way our logging architecture is designed- we're not storing any logs locally. We have a `syslog-ng` client that tails `journalctl` output and forwards it to our `syslog` server without storing any local copies. Hence it seems like `npd` can't really read all these events. I tried to go through the documentation but didn't find any

[2018-05-15 15:06] MoShitrit commented on #172
@calvinyv you need to create the configmap based on the contents of `config` directory.
`kubectl create configmap node-problem-detector-config --from-file=config/`

[2018-05-21 02:37] calvinyv commented on #172
@MoShitrit thanks for your response, after creating npd configmap, I could deploy npd ds, but the pods actually start with failure, and by checking its log, I could see:
[code]
I search the code and do not find any command parm named kernel-monitor, so is it a bug in yaml file?

[2018-05-22 13:46] MoShitrit commented on #172
@calvinyv Yeah I had the same error with version `0.4`.
Seems like they changed the set of args expected without updating the documentation.
Eventually I dropped to version `0.2` and it started working. I'm guessing that you can also remove this argument from the deployment YAML which would solve that error, but not sure about the impact it will have, since I didn't try that myself yet.

[2018-05-24 14:37] jessfraz opened #175 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-28 08:34] andyxning commented on #174
@MoShitrit Sorry for the delay.

Yes. npd has support for reading directly from journald. Actualy npd support both read kernel log from a file or journald. Please take a look at this the files under [config](../tree/master/config). Especially https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor.json

[2018-05-29 02:32] #175 closed

[2018-05-29 12:54] MoShitrit commented on #174
Thanks @andyxning !
I see indeed that kernel messages are flowing in to the kube-apiserver, however I was more curious regarding other logs such as Docker log and so on. We don't maintain any local log file such as `/var/log/messages` or `/var/log/docker/docker.log` and so on, they are all part of `journalctl` and are being forwarded directly to our `syslog` server. Does `npd` support tailing `jou

[2018-05-30 09:06] andyxning commented on #174
I am afraid not. NPD uses `github.com/coreos/go-systemd/sdjournal` package to read from journald. `http://www.freedesktop.org/software/systemd/man/sd-journal.html` seems to read local disk journal files to parse according to the [sd-journal.html](https://www.freedesktop.org/software/systemd/man/sd-journal.html).

[2018-05-30 13:27] MoShitrit commented on #174
I see, thanks for your response!

[2018-05-30 13:27] #174 closed

[2018-06-04 02:14] #142 closed

[2018-06-12 19:00] ahakanbaba opened #178 "Can an owner generate a release please"
We would like to start using node-problem-detector.
If you could cut a release, using this would be much simpler.

[2018-06-12 19:01] mohitsoni commented on #178
👍

[2018-06-12 20:55] ahakanbaba opened #179 "make ./bin/node-problem-detector expects a git repository, hinders builds from releases"
The `make ./bin/node-problem-detector` [command](https://github.com/kubernetes/node-problem-detector/blob/2f915ecf29dcb3370611f51bbd8297c9180109bc/Makefile#L80)  uses the VERSION [variable](https://github.com/kubernetes/node-problem-detector/blob/2f915ecf29dcb3370611f51bbd8297c9180109bc/Makefile#L22)

Version variable executes a git command that expects a repo.

If you try to build after extractin

[2018-06-15 02:00] #118 closed

[2018-06-20 09:35] CaoShuFeng opened #181 "invalid user agent set when accessing kube-apiserver"
When start node-problem-detector with --v=10.
We can see such logs:
[code]

The user agent is set to node-problem-detector/v1.4.0 (linux/amd64) kubernetes/$Format

The $Format seems should be replaced with the `git rev-parse HEAD`

[2018-06-21 22:12] Random-Liu commented on #179
Sounds good. Feel free to send a PR to fix this. :)

[2018-06-22 02:00] andyxning commented on #181
Thanks for reporting this. I have also encounter this in kube-state-metrics with `--v=10`. Will dig deeper to find the root reason.

BTW, this should have no influence on the normal functionality of node-problem-detector nor kube-state-metrics.

[2018-06-22 09:35] andyxning commented on #181
@CaoShuFeng It turns out that the `User-Agent: node-problem-detector/v1.4.0 (linux/amd64) kubernetes/$Format` is the output of client-go https://github.com/kubernetes/client-go/blob/2a94c229c06da7d798878d0bbef74e58c08d44be/rest/config.go#L253-L260
[code]

https://github.com/kubernetes/client-go/blob/master/rest/config.go#L299-L307

[code]

[2018-06-22 23:18] Random-Liu commented on #178
Done.

[2018-06-22 23:31] mohitsoni commented on #178
Thanks @Random-Liu!

[2018-06-25 05:05] jesseshieh opened #184 "No events detected on vanilla EKS cluster (Amazon Linux)"
Hi, first of all thanks for this great project! I use npd on a k8s cluster on gce with no problems, but I recently decided to give aws eks a try and can't seem to get npd to report any events.  I'm sure I've just got it installed wrong somehow, but any help would be greatly appreciated! I also hope this helps anyone else trying to run npd on eks.

Here is what I did
1. follow the  [getting started

[2018-06-26 01:15] #181 closed

[2018-06-29 13:39] #124 closed

[2018-06-29 22:21] chadswen opened #185 "gcr Image Tag v0.5.0 is missing bash and other binaries"
With the latest release it looks like the base image may have changed and some binaries are no longer packaged. Most custom plugin scripts depend on bash, and as a result those are no longer working for me.

[Image tag v0.5.0 details on gcr](https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/node-problem-detector@sha256:ba9daf428e462bfb0e7078819193ec7d30e2d1fb38aa0cf8ba1187f9bba2

[2018-07-05 00:48] iamzhout commented on #184
I guess there is some compatibility issue of *journaldWatcher* for Amazon Linux, do you see any other log in  *node-problem-detector.log* file?

[2018-07-06 17:23] jesseshieh commented on #184
@iamzhout I don't see anything else interesting in node-problem-detector.log. Is there some troubleshooting or debugging steps I can take to try and narrow down the problem? I increased the log level and it doesn't seem like there is a problem reading the journal.

[2018-07-07 01:09] andyxning commented on #178
Close this since a new release has been done.
/close

[2018-07-07 01:09] #178 closed

[2018-07-08 06:01] andyxning commented on #185
@chadswen I have downloaded the v0.5.0 image from gcr.io and run `docker run -it --entrypoint=sh gcr.io/google-containers/node-problem-detector:v0.5.0`. The output of `cat /etc/os-release` is:

NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

So, it seems

[2018-07-08 06:45] andyxning commented on #185
@chadswen I have prepared a PR to add bash to the debian-base image in https://github.com/kubernetes/kubernetes/pull/65949

[2018-07-08 07:38] andyxning commented on #184
I guess it is related with the log output format. @jesseshieh

[2018-07-08 08:20] andyxning commented on #184
Sorry. The answer is no. But it would be appreciated that you can contribute one by this digging this problem.

I am afraid the next steps for you are:
* read the related code
* output the log read from journal when an oom kill is invoked
* output the match result of whether the oomkill pattern really match the output log.

Problems like this can mainly be resolved by users themselves as we, as th

[2018-07-09 06:18] andyxning commented on #150
Close this tracking issue as all tracking problems has been addressed.

@Random-Liu I have recored this in my calendar and will complete this later. Since this is a tracking issue for adding custom plugin support in node-problem-detector, it is not suitable for keeping record this problem in this issue. :)

[2018-07-09 06:18] #150 closed

[2018-07-09 15:31] chadswen commented on #185
@andyxning Thanks!

[2018-07-15 05:42] andyxning commented on #143
/remove-lifecycle stale

[2018-07-16 03:03] #185 closed

[2018-07-16 09:23] aojea opened #190 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-30 11:59] jheidbrink commented on #184
Possibly this is not a EKS-specific problem, but a general problem with newer Kernels. "Newer" means containing [commit eca56ff9](https://github.com/torvalds/linux/commit/eca56ff906bdd0239485e8b47154a6e73dd9a2f3#diff-c14acc69885a24f354bc607686800e23) from 01/2016. It added a column for shared memory to the `Killed process` message, so the regex defined in `kernel-monitor.json` does not match anymo

[2018-08-20 17:56] #190 closed

[2018-08-20 17:57] #143 closed

[2018-08-21 09:04] max-rocket-internet opened #197 "failed to update node conditions: Operation cannot be fulfilled on nodes xxxx: there is a meaningful conflict"
What does this last log message mean?

[code]

[2018-08-21 09:05] max-rocket-internet commented on #197
OK I found this issue here: https://github.com/kubernetes/node-problem-detector/issues/108

But I see this error for both nodes in the cluster. I'll close for now and reopen if it occurs frequently.

[2018-08-21 09:05] #197 closed

[2018-08-22 23:53] negz opened #198 "Built in custom problem detectors require bash"
Both built in custom problem detector scripts use `/bin/bash`, which is not installed as of version 0.5.0. This results in issues like:

[code]

[code]

[2018-08-25 22:26] azalio commented on #121
/reopen

[2018-08-28 01:52] andyxning commented on #198
@negz Actually this has been fixed in master branch in https://github.com/kubernetes/node-problem-detector/pull/194. If you need you can build from the master branch and it should works.

[2018-08-28 01:52] andyxning commented on #198
/close

[2018-08-28 01:52] #198 closed

[2018-08-28 01:56] negz commented on #198
@andyxning Thanks! Just in case others find themselves here I think #194 was a typo. This bug is a duplicate of #185 and was fixed in #189.

[2018-08-29 00:50] negz opened #199 "FYI - Simple remedy system designed for use with NPD"
Hello,

I wanted to bring [Draino](https://github.com/negz/draino) to your attention, in case it's useful to others. Draino is a very simple 'remedy' system for permanent problems detected by the Node Problem Detector - it simply cordons and drains nodes exhibiting configurable Node Conditions.

At [Planet](http://planet.com/) we run a small handful of Kubernetes clusters on GCE (not GKE). We have

[2018-09-01 05:17] andyxning commented on #199
@negz This is a quite good use case for NPD. Will learn about what you said detailedly later. Would you mind to add your use case of NPD to the usage case section in ReadMe.

[2018-09-03 11:32] aga20 opened #200 "Condition message doesn't update when the status is same"
Hello,

we want to use the node problem detector  with custom plugins in our env where we have an internally developed alarm handling solution. We will implement a layer between kubernetes an our alarm handling solution which can raise alarm based on conditions and events.
First we should check the free spaces on the nodes' partitions but we have a lot of node types with another volumes and partio

[2018-09-04 06:41] aga20 commented on #200
@andyxning Could you comment it? Thanks!

[2018-09-04 19:07] negz commented on #199
@andyxning Thanks! I'd be happy to mention this use case in the README. Would it be too self-promotional to link to our Draino tool there? :)

[2018-09-05 02:39] andyxning commented on #199
@negz No. Draino is actually an POC of a remedy system based on NPD. :)

Could you please make a PR to add the use case?

[2018-09-05 07:53] andyxning commented on #199
@negz I have read Draino code briefly. It seems quite good and absolutely worth a use case of NPD.

[2018-09-05 08:42] andyxning commented on #200
@aga20

This is mainly used to decrease the updates that needs to be done in between NPD and apiserver.

[2018-09-05 09:00] andyxning commented on #200
IIUC, you mean that you need to recognize which partition to check and which partition is run out of space. You need to make the condition message structured in order to parse it easily and correctly.

Actually you can change the behavior. But what you should note is that this may make some pressure on your apiserver.

[2018-09-05 12:39] aga20 commented on #200
Hello,

yes we need a structured message of course but we want to use the message field to keep update our alarms. For example during a condition's status is "true" we should know if another partion is full. So ok, during a run I see 2 partition is full, I print out in a structured message. The sysadmin recognise the alarm and start to investigate the problem. The condition still in "true" state a

[2018-09-05 12:59] aga20 opened #202 "Reason change once and it stay in wrong state with custom plugins"
Hello,

I found something again I think but maybe I follwed wrong way.
I'm using a custom config based on the ntp example:

[code]
The /usr/bin/custom.sh script is very simple: exit with 0 or 1.

So when the node problem detector start it set the condition:

[code]
After it run the script (what returned with 0 in this case) the Status stay false but the Reason field changed to what I set in the ru

[2018-09-06 02:47] andyxning commented on #200
Since the error situation is seldom, it should be ok to do so. :)
A PR is welcomed. Feel free to ping me when the PR is fired.
@aga20

[2018-09-10 04:27] andyxning commented on #202
Thanks for the detailed re-produce procedures. Seems some logic is wrong in updating the condition. Will check this later today.

[2018-09-10 06:17] andyxning commented on #202
Fired a PR #203 to fix this. @aga20 PTAL.

[2018-09-17 11:42] aga20 commented on #202
Thank you! @andyxning  maybe you know when you can merge back this PR? In addition whe you plan to release a new version?
Thanks for your help!

[2018-09-18 14:52] max-rocket-internet opened #206 "Submitting a helm chart"
I just made a PR to helm charts repo:
https://github.com/helm/charts/pull/7795

Any feedback? I've largely just copied the config from the addons repo.

I also noticed the files in [here](https://github.com/kubernetes/node-problem-detector/tree/master/deployment) are out of date. Should I make a PR to update those too?

[2018-09-19 01:56] andyxning commented on #202
@aga20 Too busy these days. Will do this later this week. After the PR is merged, i will ping @Random-Liu to do a new release as we have some important bug fixes after the latest release.

[2018-09-19 05:32] du2016 opened #207 "Unable to parse line xxx with regular expression kernel: \[.*\] (.*)"
i have create node-problem-detector daemonset with this file: https://raw.githubusercontent.com/kubernetes/kubernetes/master/cluster/addons/node-problem-detector/npd.yaml

but the log in /var/log/node-problem-detector.log have this :

[code]

my os is centos 7 ,i have config rsyslog with this :
[code]

the log in /var/log/kern.log like this:
[code]

is there something wrong

[2018-09-28 17:02] DazWilkin opened #209 "[Please] Fix README.md so that noobs can get to a working deployment quickly"
@max-rocket-internet has been diligent in pointing out some issue with Kubernetes deployment (#206). These issues remain unresolved and will trap (as they did me) noob users.

It's unclear whether my hacky fixes are correct but, to get everything working:

### 1. Registry
For the majority of users, 'staging-k8s.gcr.io` won't be appropriate, this could perhaps more conveniently be mapped to an envi

[2018-10-08 02:46] andyxning commented on #206
Will take a look at this later. @max-rocket-internet Thanks.

[2018-10-08 02:48] andyxning commented on #202
@aga20 Will take a look at this later.

[2018-10-12 07:07] Lynzabo opened #211 "Restore node condition"
Now I use NPD to add a few conditions for each node.

eg:

[code]
But how do I undo these conditions for all Nodes?

[2018-10-24 00:05] eatwithforks opened #214 "custom-plugin-monitor.json is reporting Systemd is not supported when node has systemctl."
I'm running node-problem-detector as a daemonset built off of master branch. I'm receiving an error where the logs of node-problem-detector pods reports systemd is not supported for the check_ntp check. But I have systemctl in the nodes. Details below:

**kubectl logs "node-problem-detector pod"**
[code]

**In the node:**
`which systemctl` returns `/bin/systemctl`

**Expected:**

Node conditions s

[2018-10-24 00:07] eatwithforks commented on #214
@andyxning @Random-Liu

[2018-10-25 10:31] #172 closed

[2018-10-25 16:28] byxorna commented on #202
Ive been running in to the same issue. Any progress with this? This makes integrating NPD into external tools more difficult

[2018-10-25 16:38] byxorna opened #215 "Journald plugin not resetting condition after condition clears"
It is unclear to me (by docs, and spelunking through the code) how to use a non-custom plugin (i.e. `journald`) to set permanent Conditions on a node. For example, with the following configuration, once a pattern triggers the condition to go to `reason=KubenetIPAllocationFailure`, there is no way to "timeout" or reset to healthy after N seconds.

It seems like this plugin has no notion of a "clear

[2018-10-25 16:43] eatwithforks commented on #214
Found the fix. Need to specify in the daemonset.yml
In volumeMounts:
[code]
In volumes:
[code]

[2018-10-25 16:43] #214 closed

[2018-10-26 05:10] andyxning commented on #202
I will update this later today. Sorry for the late.

[2018-10-29 08:41] max-rocket-internet commented on #184
@jesseshieh can you confirm this is resolved since the PR from @jheidbrink ?

[2018-10-29 08:41] max-rocket-internet commented on #184
/remove-lifecycle stale

[2018-10-29 18:36] byxorna commented on #215
Hi @andyxning, do you have thoughts on this issue?

[2018-10-31 18:46] mml opened #216 "NPD should detect when static pods are rejected by admission controller"
This is related to kubernetes#70499.

This is a class of bootstrapping problem that NPD should be able to report.

[2018-11-02 08:49] max-rocket-internet commented on #206
Finally merged. So hopefully this will bring more uses for npd and hopefully more useful problem detection. I will close this 🙂

[2018-11-02 08:49] #206 closed

[2018-11-08 16:00] gjcarneiro opened #218 "The draino link to github is broken"
https://github.com/negz/draino -> 404

[2018-11-12 10:18] andyxning commented on #202
@aga20 Sorry for taking so long to update this. Too busy.

I have update the PR in https://github.com/kubernetes/node-problem-detector/pull/203 to address the comments @Random-Liu made. Could you please give it a try and add a feedback here?

[2018-11-12 10:20] andyxning commented on #218
Actually it is redirected to https://github.com/planetlabs/draino.

[2018-11-12 10:32] andyxning commented on #216
@mml As of now, you can write a custom check plugin to do this job. As for now, node-problem-detector can support custom check plugin mechanism and end users can extend this to do whatever they want to check. Node-problem-detector has no example about checking whether static pods are rejected by admission controller. If it is possible for you, PR is welcomed. :)

As this is not a problem with NPD,

[2018-11-12 10:33] andyxning commented on #216
/close

[2018-11-12 10:33] #216 closed

[2018-11-12 10:38] andyxning commented on #211
@Lynzabo For now, i have no good idea about delete the NPD conditions from node conditions. You could patch the node with the deleted/cleaned node condition, IMHO. This is also what kubelet does when updating the node condition.

But you need first stop all NPD instances.

[2018-11-12 10:42] andyxning commented on #207
@du2016 Looks that the regexp `\[.*\] (.*)` does not match the kernel log line. You should adjust the regex expression to adjust the kernel log format.

[2018-11-12 11:13] gjcarneiro commented on #218
Oh, weird, I swear, when I filed the bug report, there was no redirect, just a straight 404.

[2018-11-13 02:11] andyxning commented on #207
@du2016 In Debian, the kernel log is like:
[code]

[2018-11-13 02:25] Lynzabo commented on #211
@andyxning
"You could patch the node with the deleted/cleaned node condition, IMHO. This is also what kubelet does when updating the node condition."

[2018-11-13 02:26] Lynzabo commented on #211
@andyxning I didn't understand what you mean, how should I clean up the conditions? Thanks~

[2018-11-13 03:08] andyxning commented on #209
@DazWilkin Sorry for the late response.

Actually, you can try: `env REGISTRY=abc make` or `make -e REGISTRY=abc`

The helm chart reference has been merged in #213

This has been correct for [deployment/node-problem-detector.yaml](deployment/node-problem-detector.yaml) in #213

This also is updated in #213. Please take a look at whether it is more clear for now.

This is a precondition for using N

[2018-11-13 08:14] du2016 commented on #207
@andyxning thanks

[2018-11-13 08:14] #207 closed

[2018-11-13 18:14] byxorna commented on #215
@andyxning so, patching node manually is a non-starter for us. Any manual action taken in a system explicitly designed to remove operational burden and toil from infrastructure isnt a great solution.

Is it possible to add a "timeout" field for these events, such that the `node-problem-detector` keeps track of the frequency of these events, and will expire the condition after the timeout, if no mo

[2018-11-14 21:38] byxorna commented on #215
@andyxning by node controller, do you mean the node controller in k8s core?

[2018-11-15 01:45] andyxning commented on #215
@byxorna Yes, something like that. You can take a look at the [Draino](https://github.com/kubernetes/node-problem-detector#remedy-systems)

[2018-11-15 15:25] ganeshvasudevan opened #220 "Getting log counter to work"
Hi,

I am trying to use the log counter to work with default config file. With the default configuration files I don't see the log counter working as well as any logs about the initialisation or any extra logs that I added.

Is there some extra steps that need to be done to get the log counter to work?
Could some one share working config as well as the plugin used?

_Ganesh

[2018-11-19 13:46] aga20 commented on #202
Hello,
@andyxning Sorry busy days here. It seems ok for me. Thank you!

When you plann to merge this back and release a new version?

[2018-11-21 08:47] #218 closed

[2018-11-24 02:17] chen-joe1015 opened #226 "plugin “filelog” :unable to parse line: "time=\xxxxxxxx\""
ERROR:
![image](https://user-images.githubusercontent.com/31652157/48963646-02909300-efd2-11e8-81b2-cf2da40d31c2.png)
CONFIG:
![image](https://user-images.githubusercontent.com/31652157/48963650-1fc56180-efd2-11e8-8a35-d5efe615f36e.png)
 thanks

[2018-11-26 20:06] wangzhen127 opened #227 "NPD HEAD not working on GKE"
How to reproduce:

1. Create GKE cluster with version v1.10.9-gke.5 (The NPD shipped with this GKE version is using NPD v0.5.0, with log counter support. See https://github.com/kubernetes/kubernetes/pull/65342).
2. Log onto a node and verify that NPD is working fine.
3. Compile NPD at HEAD and get tarball.
4. Copy newly built NPD tarball to the node.
4. Untar NPD.
5. Run the following commands:
[c

[2018-11-26 22:07] wangzhen127 commented on #227
Worked with @Random-Liu offline and found this regression was due to the following change:
https://github.com/kubernetes/heapster/commit/39e0e68f4564e4d1db1ee05628dc0301722908ef#diff-6778da4d8c30b33a523f1f749cb79ce1

Currently GKE is using NPD v0.5.0, which should be fine. When we cut a new release and bump NPD version in kubernetes GCI configuration later, we should also update [NPD kubeconfig se

[2018-11-27 16:58] Atoms commented on #215
We have added kernel monitor, and now i want to test it out, i add some problem as KernelDeadLock, node reports condition as True, so let's say i fixed that problem and i want that condition to reset, so i created script which patches node condition to False, but already 1hour it comes back as True, i also added lot of dummy lines in kernel log, but it still keeps setting it to True, as i see some

[2018-11-27 18:45] aga20 commented on #200
Hello,

sorry. I think this is ok,

[2018-11-28 10:34] Hashfyre opened #230 "v0.6.0 not available on k8s.gcr.io"
The newest release has not yet been published to k8s.gcr.io, is there an ETA to the process?
Was hoping to try out `docker-monitor-counter.json` for overlay2 corruption detection.

[code]

May I know was this missed or it's part of the release timeline that I have to wait for.

[2018-11-28 18:51] Random-Liu commented on #230
It is pushed to staging-k8s.gcr.io/node-problem-detector:v0.6.0

A process is needed to graduate to `k8s.gcr.io`. I'll do that.

[2018-11-29 09:47] Atoms opened #232 "Journald plugin not working on 0.6.1"
Tried to deploy 0.6.1 version, and kernel-monitor with journald plugin fails with message:
[code]
downgraded to 0.5.0 and it works, cannot verify on 0.6.0 as image is not available.

[2018-11-29 19:36] Random-Liu commented on #230
The image `0.6.1` is ready now.

[code]

[2018-11-29 19:36] #230 closed

[2018-11-29 19:55] Random-Liu commented on #232
Hm, it is caused by this. https://github.com/kubernetes/kubernetes/commit/8906d1d8beb9335c438d3d093a064512b901e61c#diff-c3d7736ae9d9e127bf38b48bbd213144

[2018-11-29 20:04] ixdy commented on #232
if you need systemd, add it back into the node-problem-detector image when you build it?

[2018-11-29 22:17] Random-Liu commented on #232
@ixdy Did that in #233. Thanks!

[2018-11-29 22:23] #232 closed

[2018-11-30 21:49] wangzhen127 opened #236 "NPD is lack of k8s cluster level e2e test coverage"
We should add k8s cluster level e2e test coverage for NPD, so that situations like #227 could be prevented. There were past effort #43 and #86, but those never got completed. It is time to revisit.

[2018-11-30 21:56] wangzhen127 commented on #220
Currently all log counter configurations should work ([kernel-monitor-counter.json](https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor-counter.json), [systemd-monitor-counter.json](https://github.com/kubernetes/node-problem-detector/blob/master/config/systemd-monitor-counter.json), [docker-monitor-counter.json](https://github.com/kubernetes/node-problem-detector/

[2018-11-30 22:44] wangzhen127 commented on #211
@Lynzabo, node conditions are part of node status, you can just patch the node with the conditions you want to keep. See https://kubernetes.io/docs/reference/kubectl/cheatsheet/#patching-resources for examples.

/close

[2018-11-30 22:44] #211 closed

[2018-11-30 22:46] wangzhen127 commented on #220
/close
Closing this since log counter is working. Reopen if you still see problems.

[2018-11-30 22:46] #220 closed

[2018-11-30 23:01] wangzhen127 commented on #226
@chen-joe1015, I think you need to change your timestampFormat to `2006-01-02T15:04:05-07:00`.

[2018-12-03 23:47] #227 closed

[2018-12-04 01:54] andyxning commented on #227
Heapster is recently retired.

[2018-12-05 02:41] chen-joe1015 commented on #226
Thanks! This information is just an alarm and does not affect the work of the main process.

[2018-12-05 02:42] chen-joe1015 commented on #226
Thanks! This information is just an alarm and does not affect the work of the main process.

[2018-12-05 02:42] #226 closed

[2018-12-05 18:45] wangzhen127 commented on #227
The dependency on Heapster can probably be removed when we bump K8S version next time.

[2018-12-06 19:48] eatwithforks opened #237 "Please add documentation for the possible fields in plugins"
i'm getting confused by the multiple timeouts and what exactly concurrency means.

[2018-12-10 02:47] andyxning commented on #237
@eatwithforks IIUC, you mean about custom plugin configurations?

[2018-12-10 03:11] andyxning commented on #200
@aga20 Can you try the latest master branch, i.e., 0.6.1 release. Seems that NPD will not change the message when the status is the same.

According to https://github.com/kubernetes/node-problem-detector/pull/228, we have remove this logic to avoid spam.

[2018-12-10 03:39] andyxning commented on #237
@eatwithforks Could you explain what confused you mostly?

[2018-12-10 04:04] andyxning commented on #236
Seems that presubmit e2e test needs to work with test-infra.

[2018-12-10 05:46] andyxning commented on #237
One drawback of using json format configuration is comment less. We can not add any comment into the configuration easily and clearly.

[2018-12-10 21:12] #237 closed

[2018-12-11 09:35] aga20 commented on #200
@andyxning Yes the message won't update if the status stay same. Could you fix this again? This is important for us as I mentioned earlier.
Or if you want to avoid the spam and you can add a switch what control the status update we will happy (for example by default the npd doesn't resend the message but if someone want to do this we can turn this on). We can live a solution like this but I don't

[2018-12-11 10:15] #200 closed

[2018-12-13 14:05] aga20 commented on #200
Hello,
@andyxning seems ok. Thanks! When do you plan to release a new version?

[2018-12-14 01:44] andyxning commented on #200
/cc @Random-Liu WDYT?

[2018-12-14 21:56] george-miller opened #240 "Add Resource Limits to the node-problem-detector-pod"
Please add resource limits to this project to ensure stability!

[2018-12-17 10:57] dazdaz opened #241 "Has this been tested on Azure Kubernetes Service"
Hi,

Has this been tested on Microsoft's Azure Kubernetes Service, Kubernetes v1.11.5  and did all of the features work as expected ?

[2018-12-17 14:37] oscarwest opened #242 "helm install stable/node-problem-detector Error:"
Azure AKS

kubectl version
`
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T19:44:19Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a77f539a4213ea

[2018-12-19 21:35] negz commented on #215
I thought the idea behind a permanent node condition was that they were _permanent_. Put otherwise, if a condition could clear up at some future time I would not expect NPD to set a node condition in the first place but rather to emit a node event indicating a _temporary_ problem.

Draino, for example, assumes that once a node condition is set by NPD there are no possible remediations other than t

[2018-12-20 11:47] Hashfyre commented on #230
Thanks so much.

[2018-12-20 12:13] Hashfyre commented on #242
You need:
[code]
in your `values .yml`

[2018-12-21 12:16] Hashfyre opened #243 "Crashloopbackoff on v.0.6.1 with *-counter.json"
Env:
 - AWS + Kops
 - Ubuntu-16.04 hosts
 - Deployed with
`helm upgrade --install node-problem-detector -f node-problem-detector/helm/values/dev/values.yaml --version '1.0' --namespace=kube-system stable/node-problem-detector`
 - values:
[code]
Logs:
[code]

[2018-12-21 12:31] Hashfyre commented on #243
most monitors with `*-counter` suffix fails with the same unmarshalling error.
[code]
Leads me to suspect this has something to do with the stable helm chart not configuring something correctly.

[2018-12-21 12:33] Hashfyre commented on #243
Could the issue be with non-quoted numerics in the said JSONs?
[code]

[2018-12-25 06:04] andyxning commented on #241
@dazdaz

I can not tell the truth since not all use cases are feedback. If you have some interest to run NPD on AKS, we would be pleased to receive some feedback or problems. :)

The answer is unknow, either. We have not received any feedback upon Kubernetes 1.11.5

Absolutely yes.

[2018-12-25 06:20] andyxning commented on #242
Since this has been answered by @Hashfyre in https://github.com/kubernetes/node-problem-detector/issues/242#issuecomment-448977959. Close this.

/close

[2018-12-25 06:20] #242 closed

[2018-12-25 08:06] andyxning commented on #243
Actually all *-counter plugins are custom plugins. I suspect that you have configured wrongly.

[2018-12-27 01:19] pigletfly opened #247 "CrashLoopBackOff node-problem-detector:v0.2"
env

[code]
and deployed with DaemonSet

logs from node-problem-detector

[code]

[2018-12-27 03:55] #240 closed

[2018-12-27 06:36] Hashfyre commented on #243
@andyxning I'm using the official helm-chart, I'll take your point into account and check my config.

[2019-01-07 11:19] Hashfyre commented on #243
Tried running
[code]
with --custom-plugin-monitors flag.
Fails with:
[code]

[2019-01-07 11:36] Hashfyre commented on #243
The type error persists:
[code]

[2019-01-08 18:34] dashpole commented on #243
/cc @dashpole

[2019-01-08 18:40] dashpole commented on #243
I don't think NPD has an official helm chart...  Do we know who owns it?

[2019-01-10 01:46] andyxning commented on #243
Actually we do have an official helm chart in https://github.com/helm/charts/tree/master/stable/node-problem-detector. It is referenced in https://github.com/kubernetes/node-problem-detector/pull/217. It is owned by @max-rocket-internet

[2019-01-10 01:47] andyxning commented on #243
@Hashfyre Has you resolved this Problem?

[2019-01-10 09:13] max-rocket-internet commented on #243
Yes, I created the PR to get the chart added to the main charts repo. But if others from here want to be added to the approvers/reviewers then just make a PR 🙂

[2019-01-11 06:10] Hashfyre commented on #243
@andyxning no, I'm still trying to understand the root-cause.

[2019-01-14 01:49] andyxning commented on #243
/reopen

[2019-01-14 13:04] Hashfyre commented on #243
As of now, the `*-counter.json` configs do not run with either:
`--system-log-monitors` or `--custom-plugin-monitor` flags, resulting in an Error and subsequent `CrashLoopBackoff`

[2019-01-22 21:48] rrs45 opened #251 "Enable JSON support for monitoring log files in json format"
Currently, the system-log-monitor supports 'filelog' which supports only regex based translation. For log file which are in JSON, it would be much easier to enable JSON parsing support. This would make users life easier by not having to come up complex/ugly regex's

[2019-01-24 22:56] gtorre opened #252 "Should Ready condition change if other condition states are False?"
[code]

We wrote a custom plugin under the impression that if the plugin returned a 1 exit code, it would make the node unavailable for scheduling. However, since the Ready condition never updates to False, pods continue to be scheduled on the kubelet.

Is the expectation that any `permanent` problems would trigger the Ready state to become false? Or this assumption wrong?

[2019-01-25 09:03] fabiand commented on #252
I actually wonder how one condition can impact the Ready condition.

My thought would have been to let NFD set a taint NoSchedule under certain
conditions.

[2019-01-29 00:56] wangzhen127 commented on #236
Just for reference:
- Existing [NPD node e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/node_problem_detector_linux.go) running on [sig-node-kubelet](https://k8s-testgrid.appspot.com/sig-node-kubelet#node-kubelet-features) and [sig-node-containerd](https://k8s-testgrid.appspot.com/sig-node-containerd#node-e2e-features) testgrid dashboards.
- Past attempt on adding NPD

[2019-02-09 00:46] rrs45 commented on #252
Conditions (type:permanent) set by NPD are not watched by controller-manager so no action is taken automatically. You may need custom controller to read and act when those conditions becomes true

[2019-02-09 01:09] rrs45 opened #255 "Allow multiple rules to be combined into single condition"
Often times we have multiple checks which can be grouped together into one condition. And it would be ideal if that condition would reflect only those checks which failed.

Currently, if a 'permanent' rule type is defined in the config then it appears in the 'conditions' field when using 'kubectl describe node', forever. It shows up even when we no longer need that check and the conditions keep gr

[2019-03-04 06:53] Hashfyre commented on #243
Hi, I'm happy to understand the problem and make a PR to fix this if someone's willing to guide me.

[2019-03-07 22:04] mitar opened #258 "Does not run without a config map"
README looks like config map is optional, but just using [`node-problem-detector.yaml`](https://github.com/kubernetes/node-problem-detector/blob/master/deployment/node-problem-detector.yaml) as-is does not work and it fails because config map is missing.

[2019-03-08 09:22] jpds opened #259 "Prometheus metrics endpoint"
Could a `/metrics` endpoint be added to n-p-d so that tools like Prometheus can gather these and then create alerts based on those?

[2019-03-20 14:10] byxorna commented on #215
/remove-lifecycle stale

I have a similar experience to @Atoms.

The current behavior creates issues for people maintaining their own physical deployments of Kubernetes, where kubelet reprovisions are less frequent than bring up/down VMs in a cloud provider. The physical hardware lifecycle is not identical to cloud VM lifecycles, in that managed physical host may be brought down and back up for ar

[2019-03-20 15:38] clux commented on #243
It might be something missing in the image judging by logs, if you use the stable chart by setting:

[code]
([actual json for the file](https://github.com/kubernetes/node-problem-detector/blob/master/config/systemd-monitor-counter.json))

the containers crash in validation stage, not marshalling:

`"/home/kubernetes/bin/log-counter" does not exist.`

[2019-03-20 18:54] wangzhen127 commented on #236
NPD presubmit and CI jobs are now available:
- presubmit: https://k8s-testgrid.appspot.com/presubmits-node-problem-detector
- CI: https://k8s-testgrid.appspot.com/sig-node-node-problem-detector

Will cherry pick the following PRs into k8s 1.11, 1.12, and 1.13 branches:
- https://github.com/kubernetes/kubernetes/pull/73288
- https://github.com/kubernetes/kubernetes/pull/74922 (test fix)
- https://g

[2019-03-30 13:39] pigletfly commented on #247
/remove-lifecycle stale

[2019-04-01 17:01] #184 closed

[2019-04-04 15:12] MaksymTrykur commented on #202
@andyxning seems like there is still an issue when status transitions from False -> Unknown and back.

When status = False shouldn't reason always be defaultConditionReason, meaning normal state?

Current implementation will set faulty reason to the condition with OK result, see change 3 and change 4.

https://github.com/kubernetes/node-problem-detector/blob/v0.6.2/pkg/custompluginmonitor/custom_p

[2019-04-10 19:03] wangzhen127 commented on #236
https://github.com/kubernetes/kubernetes/pull/73288 will be available in Kubernetes v1.11.10+, v1.12.8+, and v1.13.6+.

[2019-04-10 19:09] #236 closed

[2019-04-12 15:42] ringtail opened #266 "shell script execution is too slow"
I want to create a custom shell script as plugin. but `ls`,`wc`,`find` are too slow. so what's the best practice to create a shell plugin.

[2019-04-17 01:51] Lion-Wei opened #269 "node-problem-detector --version should not require monitors specify"
Currently `node-problem-detector --version` command request `monitor` specified
[code]
That's not necessary, and if we use `node-problem-detector --version --system-log-monitors=./`, that would be little weird.

[2019-04-17 02:31] ringtail opened #271 "Why custom plugin with `permanent` type can not alert a warn event"
[code]
It can only emit `info` level event.

[2019-04-17 05:12] #269 closed

[2019-04-28 00:38] OkBeacon opened #272 "Monitoring /var/log/syslog not working"
I am trying to catch the following error in /var/log/syslog on ubuntu 16.04 node -
[code]

My Config -
[code]

Expected output
`Events generated whenever I inject syslog`

Actual output
`No events`

[2019-04-29 07:05] multi-io commented on #252
In that note, how would you even set a condition to false rather than true if an incident occurs? [It looks like](https://github.com/kubernetes/node-problem-detector/blob/ee103dd4acc612102766254629d570d2b4bdb28c/pkg/systemlogmonitor/log_monitor.go#L152) npd can only set it to true no matter what.

[2019-04-30 01:39] #247 closed

[2019-05-07 06:29] allencloud opened #273 "Does NPD have a ROADMAP?"
Hi, NPD community,

In k8s, npd could take over all the node monitoring, which is quite useful for cluster at large scale. We are trying to adopt npd in our production enviroment and contribute back to it. I am wondering if NPD project has a ROADMAP document to share the future work of it.

Thanks.

Allen Sun
Alibaba Cloud

[2019-05-09 15:51] cdobbyn opened #274 "Read-only disk condition / kernel monitor"
I figured I'd post this here as I think this would be a good case to look for in the kernel monitor.

We ran into an issue last night that Kubernetes does not seem to have handled cleanly. It caused Kubernetes to try to schedule over 7000 containers (we normally have around 100). The root cause was in Amazon AWS one of our EC2 nodes' disk went into read-only mode. This happened while k8s was tryin

[2019-05-16 06:56] qw1mb0 opened #276 "NPD stuck on connection refused"
Good day.
In one of the clusters, we had some problems with etcd, after restoring the work of etcd / api-server, the node-problem-detector failed to update its state and stuck in this state. Restart podov solved this problem.

Node-problem-detector can not reconnect to the api-server?

NPD version 0.6.3
Kubernetes version 1.11.6

Some logs:
[code]

Stuck on this:
[code]

[2019-05-16 07:47] trandainhan opened #277 "Failed to start log monitor "/config/docker-monitor.json": failed to create journal client from path "/var/log/journal": unable to open a handle to the library"
after install NDP, i found this log:
`1 problem_detector.go:64] Failed to start log monitor "/config/docker-monitor.json": failed to create journal client from path "/var/log/journal": unable to open a handle to the library`

what does this mean: `unable to open a handle to the library` ?
also, i checked folder `/var/log/journal` in the node, this folder is actually exist. I'm not sure whether NDP

[2019-05-16 16:57] jekohk commented on #277
I actually ran into the same issue yesterday- what version of `node-problem-detector` are you running? Thisis probably be caused by https://github.com/kubernetes/node-problem-detector/issues/232 in which case you should upgrade to `0.6.2` or `0.6.3`

[2019-05-16 17:01] jekohk opened #278 "Update example deployment to use 0.6.3"
The example [deployment/node-problem-detector.yaml](https://github.com/kubernetes/node-problem-detector/blob/master/deployment/node-problem-detector.yaml) is pinned to `v0.6.1` which has a known issue with the `journald` plugin (#232).

We should update the deployment and helm to use a newer version of npd.

[2019-05-17 05:10] xueweiz commented on #259
@jpds
Hi Jone, I wonder what kind of Prometheus metrics do you have in mind?

I just shared a [proposal](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/edit#) about exporting node problems as logs and metrics. I think we could translate today's conditions & events into metrics.

[For example](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0O

[2019-05-20 10:43] ihac opened #279 "Support consumers to access the metrics through Kubernetes metrics API"
Hi @xueweiz @Random-Liu

Based on the [proposal](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/edit#) you shared recently, I'd like to share a typical use case in Alibaba. Hopefully it will help to perfect your design.

We all agree that reporting metrics in NPD has become an inelastic demand for production use. NPD should be able to transform the node status into

[2019-05-20 18:44] xueweiz commented on #279
@ihac Hi An, thanks for reviewing our proposal! I noted down some thoughts below.

(One thing I should mention first, is that my experience is mostly on node OS side (Container-Optimized OS). Lantao has much more experience with Kubernetes ecosystem.

Seems that npd-metrics-adapter sits on a different node with NPD. I wonder why not let NPD directly report to apiserver using metrics API? That mean

[2019-05-21 15:27] ihac commented on #279
Hi @xueweiz Thanks for the feedback.

We're using `npd-metrics-adapter` to store metrics in memory, to save apiserver from handling such a heavy traffic. I believe that's also the reason why `Metrics Server` and `Microsoft Azure Adapter` are developed.

Couldn't agree more.

Sorry for not being clear. We agree NPD specializes in detecting and reporting the node problems and we're not going to hand

[2019-05-22 01:55] CodeJuan commented on #279
@xueweiz Thank you for your prompt reply, I totally agree that the goal of NPD is detecting the problem of node.
There is a case, I found `the container end of veth pair leak to host caused by a kernel bug`. So if NPD detect it, and report the name of Pod to upstream layer system would be more helpful.

[2019-05-23 04:18] xueweiz commented on #279
I see. Thanks for the explanation! I think NPD has the capability to support this.
For example, I'm attaching the disk device name (e.g. "/dev/sda1") as a metrics label for three metrics (disk/avg_queue_len, disk/weighted_io and disk/io_time), under PR #275

That would be great :) Thanks a lot!

And just for the reference. In my new [proposal](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8G

[2019-05-23 04:28] xueweiz commented on #279
@CodeJuan
Hi Juan,

Sounds fair. In today's NPD model, I guess you would report an event, and provide the Pod name in the [message](https://github.com/kubernetes/node-problem-detector/blob/4880be842d32dfcf31d2a8f01070d17473732a88/pkg/types/types.go#L77) field.

I don't know whether you want to report metrics on this problem as well? If so, how do you want the metric to look like?

In my mind, the

[2019-05-23 06:34] CodeJuan commented on #279
Hi xuewei,

I'm sorry for my uncorrect description. There are two exception.
I don't know how to describe it with my poor English. Just show some pseudocode.

1. leaked veth
[code]

2. unattached veth
[code]

The second type is more clearly. Then remedy system would re-attach veth to container or migrate container by the pod-name. But I'm not sure `counter` is appropriate type to represent problem

[2019-05-23 07:09] xueweiz commented on #279
We do plan to support Gauge typed metrics. See the "[Extending Today’s Problem Daemon to Report Metrics](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/edit#heading=h.eym0m8duezae)" section of the [proposal](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/edit#).

Specifically:

[2019-05-23 07:16] CodeJuan commented on #279
@xueweiz
Aha, it's a bit difficult to me to access the google docs right now. I would read the proposal again later.

[2019-05-23 07:28] xueweiz commented on #279
Oh didn't realize that :)
Attached the current version of the proposal as pdf in this comment. Hopefully that can help.

If you have any ideas, it's best if you could comment on the [Google Doc](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/edit#). So that everyone can participate in the discussion.

[Node-Problem-Detector_ Metrics Exporting Option (EXTERNAL).pdf]

[2019-05-24 08:20] #241 closed

[2019-05-26 11:07] AlexShemeshWix opened #280 "How to add custom scripts to plugin folder"
Hi
I need to run custom bash script during one of checks.
There is no obvious way to do it.
I can add to to custom_monitor_definitions in helm chart but i cannot set permission for it, so actual check will fail because of wrong permissions.
The only way i see is to inherit docker image and add my scripts to it, but its too much problem for something so simple.
How its suppose to work?

[2019-05-28 08:15] #278 closed

[2019-05-29 20:15] zuzzas opened #282 "Performance problems"
#### NPD Version
v0.6.3
#### Kernel version
4.15.0
#### What happened?
Kernel log got hammered with a lot of OOM kills. Totaling to about 4500 in a minute. This led to an extremely high CPU usage by node-problem-detector.

At a cursory glance, most of the time is spent in the kmsg's watchLoop. I've used Linux's `perf` utility, because I had no time to debug the issue properly with `go tool pprof`.

[2019-05-31 17:23] wangzhen127 commented on #280
There are a few examples under node-problem-detector/config/plugin/, e.g., network_problem.sh. And node-problem-detector/config/network-problem-monitor.json is the configuration file that uses it.

You can also refer to the original custom plugin doc on the interface between the plugin and NPD: https://docs.google.com/document/d/1jK_5YloSYtboj-DtfjmYKxfNnUxCAvohLnsH5aGCAYQ/

[2019-05-31 17:37] wangzhen127 commented on #279
/cc @wangzhen127

[2019-05-31 17:39] wangzhen127 commented on #274
We currently have read-only filesystem detection. Would that solve your problem?
https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor.json#L59

[2019-05-31 17:41] wangzhen127 commented on #277
Closing this now. Reopen if you still see the problem in 0.6.3.

[2019-05-31 17:41] #277 closed

[2019-05-31 17:43] wangzhen127 commented on #276
Has the address of API server been changed after the fix of etcd/api-server?

[2019-05-31 17:47] wangzhen127 commented on #266
Custom plugin allows executing arbitrary binary. If shell script cannot satisfy your needs, you can consider types of programming languages.

[2019-05-31 17:49] wangzhen127 commented on #273
There is no formal roadmap doc. The recent planned big change is to enable NPD to export metrics. You can follow up the design here: https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/.

[2019-05-31 17:49] #273 closed

[2019-05-31 17:56] wangzhen127 commented on #255
You probably need to use custom plugin to suit your needs.

[2019-05-31 17:58] wangzhen127 commented on #258
What's the error message?

[2019-05-31 18:00] mitar commented on #258
Huh, this was some time ago, but it is simply something along the lines that Kubernetes cannot find the config.

[2019-05-31 18:10] wangzhen127 commented on #252
No.

For built-in monitor, that is by design. For custom plugin, you have a way to set the condition back to false. You can see the discussions in https://github.com/kubernetes/node-problem-detector/issues/215.

[2019-05-31 18:10] #252 closed

[2019-05-31 18:19] wangzhen127 commented on #258
Sorry for the late reply. I'm just back from vacation.

The NPD container has some built-in configs. You may need to check the container build file to see if your expected config is included. If there is a bug with the default setup, I am happy to review your fix. :)

[2019-05-31 18:27] mitar commented on #258
I just used the image in that config file, `k8s.gcr.io/node-problem-detector:v0.6.3`.

[2019-05-31 18:27] mitar commented on #258
But I think this is Kubernetes issue, not container issue.

[2019-05-31 18:30] wangzhen127 commented on #258
Do you mind providing more details, e.g., the steps to reproduce, the expected behavior, error messages observed, etc?

[2019-05-31 18:51] mitar commented on #258
Sure.

I run:

[code]

And then If I do:

[code]

I get:

[code]

Not the warning at the end. And then failure. Note that pod is not ready.

[2019-05-31 20:21] wangzhen127 commented on #258
I see. You also need to create config map using node-problem-detector/deployment/node-problem-detector-config.yaml. The README is probably misleading. I will update the README.

[2019-06-02 05:16] #258 closed

[2019-06-03 19:08] xueweiz opened #284 "Implement NPD metrics mode"
Here is the [proposal](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/edit#heading=h.xw2rl6ej7zhr).

This issue tracks the implementation of the proposal:
- [x] Check-in the proposal to NPD project's [README](https://github.com/kubernetes/node-problem-detector/tree/v0.6.3#links)   (#285)
- [x] Refactor problem daemon registration and initialization, so that they ar

[2019-06-03 20:18] wangzhen127 commented on #284
/cc @wangzhen127

[2019-06-03 20:20] xueweiz commented on #284
/cc @Random-Liu @jiayingz @dchen1107

[2019-06-04 01:59] xueweiz commented on #284
/assign @xueweiz

[2019-06-04 06:24] andyxning commented on #284
/cc @andyxning

[2019-06-04 21:22] xueweiz commented on #282
/assign @xueweiz
Thanks for filing the issue! I wanted to do some performance testing & improvement on NPD as well.

I think we should make sure NPD's resource consumption (cpu, mem, IO) always get bounded.
i.e. If there is a million problem going on, NPD should restrain from using too much resource detecting & reporting these problems. It's better to detect and report the issues slowly, rather th

[2019-06-05 19:19] wangzhen127 commented on #282
i.e. If there is a million problem going on, NPD should restrain from using too much resource detecting & reporting these problems. It's better to detect and report the issues slowly, rather than further punish the system by taking more resource away.

Totally agree.

This can be the starting point. I think the problem is that NPD still needs to that much amount of work, it just becomes slower.

I

[2019-06-06 09:34] zuzzas commented on #282
@xueweiz
As a DaemonSet. CPU Limits, obviously, worked, but the container got throttled into oblivion.

[2019-06-07 23:53] wangzhen127 opened #291 "Add system component health monitor"
This issue tracks the work that adds system component health monitor.

This monitor will monitor critical system component and report metrics. This will be based on the [metrics mode](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/). What it does include:
- [x] Count how many times the component has been started/restarted.
- [ ] Run health check command to determin

[2019-06-07 23:53] wangzhen127 commented on #291
/cc @Random-Liu @xueweiz @jiayingz

[2019-06-12 14:30] AlexShemeshWix commented on #202
have same issue on 0.6.3
Hi ive defined custom plugin like that

[code]
test_2.sh looks like that
[code]
The idea is to touch /tmp/kube.fail to test condition monitoring.
Its sorta works but looks wrong.
This is how my node conditions look like
[code]
Custom problem has proper Status and message says file was not found but reason is FailureDetected.

[2019-06-18 00:22] yguo0905 opened #295 "Do not report problems until kube-apiserver is ready"
In https://github.com/kubernetes/node-problem-detector/pull/288, we changed NPD to run custom plugins on startup. I hoped this would allow NPD to always report an event immediately when the cluster is just created, no matter how big the `invoke_internal` is.

However, this will not always work due to its interaction with kube-apiserver. What I observed during cluster creation was below.

1. NPD st

[2019-06-22 00:20] xueweiz opened #296 "Add e2e test for NPD metric-only mode"
Today, NPD has two test pipelines: [CI](https://github.com/kubernetes/test-infra/blob/83ebd1d386d3c6c67c2b28bfd3f7ecf8292f2814/config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml) and [presubmits](https://github.com/kubernetes/test-infra/blob/83ebd1d386d3c6c67c2b28bfd3f7ecf8292f2814/config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml).

In both

[2019-06-22 00:21] xueweiz commented on #296
/assign @xueweiz
/cc @wangzhen127

[2019-06-22 00:27] xueweiz commented on #296
/cc @mikewu

[2019-06-22 00:28] xueweiz commented on #296
/cc @kewu1992

[2019-06-22 00:28] xueweiz commented on #284
/cc @kewu1992

[2019-06-24 06:13] chinglinwen opened #297 "does inotify leaked?"
does the following outputs means inotify leaked?  as I follow this issue https://github.com/kubernetes/kubernetes/issues/7815

https://github.com/golang/exp/commit/292a51b8d262487dab23a588950e8052d63d9113#diff-913c4cd2428ce8671839b1afb2699b25

[code]
[code]

[code]

[code]

node-problem-detector:v0.6.3

[code]

[2019-06-24 22:10] xueweiz opened #298 "NPD mark successfully started system stats monitor as failed"
See below case:
[code]

`system stats monitor` is started in this case. However, `node_problem_detector.go` is thinking no problem daemon is successfully setup. Below is why:

Today, `node_problem_detector.go` uses the [problem channel](https://github.com/kubernetes/node-problem-detector/blob/c95c37532b3f184ffdcfd2e6e4363a41bb33ebdf/pkg/problemdetector/problem_detector.go#L61) to determine whether

[2019-06-24 22:19] xueweiz commented on #298
/assign @xueweiz

[2019-06-25 00:55] xueweiz commented on #296
I was trying to find a library to help with SSHing and running commands in the VM.
I was experimenting with `k8s.io/kubernetes/test/e2e/framework/ssh`, but I cannot get it to work.

See the experiment code at https://github.com/xueweiz/node-problem-detector/blob/ssh-do-not-work/test/e2e_standalone/simple_test.go#L8

If you remove the `k8s.io/kubernetes/test/e2e/framework/ssh` import and usage, the

[2019-06-25 00:58] neoakris commented on #243
Hope this helps, It's working for me in v0.6.3:
my node-problem-detector.values.yaml    helm chart override file uses image v0.6.3

When I had
  log_monitors:
   - /config/kernel-monitor-counter.json
   - /config/docker-monitor-counter.json
  custom_plugin_monitors: []
I'd get crashloop backoff with pod log saying
Error: "Failed to unmarshal configuration file "/config/kernel-monitor-counter.json"

[2019-06-27 19:34] xueweiz opened #301 "Host monitoring and self monitoring in NPD"
Now that NPD can report metrics (#284 ), it's nice to report following useful information with the metrics reporting:

- NPD uptime and host uptime
- kernel version, host OS version
- NPD CPU/memory/net/filesystem usage

[2019-06-27 19:58] wangzhen127 commented on #301
Kernel version and host OS version seem to be metadata instead of metrics.

[2019-06-27 20:21] xueweiz commented on #301
Correct, they will be reported as [OpenCensus metric tags](https://opencensus.io/tag/) (which will be shown as [Prometheus metric labels](https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels)).

In my current [prototype](https://github.com/xueweiz/node-problem-detector/blob/self/pkg/systemstatsmonitor/host_collector.go), they look like this:

[code]

[2019-06-27 23:59] #251 closed

[2019-06-28 21:06] eatwithforks opened #304 "Node conditions status reset on problem detector restart."
When node problem detector is restarted, all the node's conditions' status reset to False until the plugin's complete and resubmit the correct status.

This means there is a gap where node conditions are all False when problem detector restarts, leading to false reports.

Is there a way to make problem detector not reset a node's conditions on restart?

[2019-06-28 21:08] grosser commented on #304
`reset to False` -> `reset to their initial status`

[2019-06-28 21:33] xueweiz commented on #304
One idea is to use the [`problemclient.Client.GetConditions()`](https://github.com/kubernetes/node-problem-detector/blob/146dfd70b25090203162b1e9eee305e76b688dff/pkg/exporters/k8sexporter/problemclient/problem_client.go#L81) function to retrieve condition's initial state upon NPD startup.

Basically each time when NPD starts up, it could call the `GetConditions()` function to determine what are th

[2019-06-28 21:38] eatwithforks commented on #304
sounds good, that would work.

[2019-06-28 21:39] grosser commented on #304
only downside could be something like a log-status that then gets reset because the offending line is no longer in the log, but that's just a minor issue 🤷‍♂

[2019-06-28 22:24] honeybadger91 opened #305 "Inconsistent Event Reporting"
I'm experiencing an odd issue when attempting to utilize the "filelog" plugin. I have a fairly standard plugin config:

`{
	"plugin": "filelog",
	"pluginConfig": {
		"timestamp": "^.{32}",
		"message": "kernel: (.*)",
		"timestampFormat": "2006-01-02T15:04:05.999999+00:00"
	},
	"logPath": "/var/log/kern.log",
	"lookback": "5m",
	"bufferSize": 10,
	"source": "kernel-monitor",`

It seems to work on

[2019-06-28 22:46] xueweiz commented on #305
Could you try running command `sync`  after `echo xx > /var/log/kern.log`? That will ensure the message is actually committed to the block device.
I want to make sure it's not some uncleared buffer issue. Thanks!

[2019-06-28 23:06] honeybadger91 commented on #305
Went ahead and tried, but same result.

`echo "2019-06-28T23:02:04.020520+00:00 NODENAME kernel: mce: [Hardware Error]: Machine check events logged" >> /var/log/kern.log && sync `

[2019-06-28 23:10] xueweiz commented on #304
/cc @andyxning
Hi Andy, do you think the [idea above](https://github.com/kubernetes/node-problem-detector/issues/304#issuecomment-506883788) makes sense? If so, I'm happy to make a patch to implement it.

True. But if that's the case (i.e. some problem daemon resets condition when it can no longer detect the permanent problem), then even if NPD is not restarted, it will still reset that condition

[2019-06-28 23:23] xueweiz commented on #305
Sorry Andrew, I'm not that familiar with the filelog plugin (I never used it).

I wonder if you can re-compile NPD and deploy it to your testing environment?
If you can, I'd suggest you add some print statements around these places:

1. To see whether `github.com/google/cadvisor/utils/tail` correct caught your log.
https://github.com/kubernetes/node-problem-detector/blob/146dfd70b25090203162b1e9ee

[2019-06-28 23:25] honeybadger91 commented on #305
Ok, I will do this and get back to you. Thanks for your prompt responses.

[2019-06-28 23:35] grosser commented on #304
Good enough if it does not resets it on restart 👍
(also avoid the whole confusion with lastTransition getting updated when nothing actually happened)

[2019-07-02 00:09] honeybadger91 commented on #305
Due to time constraints, I went ahead and simply utilize the kmsg plugin instead of filelog. It is much more reliable. If I have some time, I will circle back to this and debug. Thanks again.

[2019-07-02 00:09] #305 closed

[2019-07-02 23:06] grosser commented on #304
@wangzhen127 got thoughts on this ? (since @andyxning seems to not be around)

[2019-07-02 23:31] wangzhen127 commented on #304
Are you referring to the log monitor? NPD resets the condition because in the config, it has the default condition. For example:
https://github.com/kubernetes/node-problem-detector/blob/master/config/kernel-monitor.json#L10
[code]
The above line sets the default condition for `KernelDeadlock`.

In the code, this is done at:
https://github.com/kubernetes/node-problem-detector/blob/master/pkg/system

[2019-07-03 21:27] xueweiz commented on #298
Now that #299 is merged, closing this issue.

[2019-07-03 21:27] #298 closed

[2019-07-05 22:00] grosser commented on #304
That would mean the default condition will no longer appear when a new node comes up, right ?
We'd prefer the best of both: default is set when node is new, but does not override when updating ... especially does not override (bump lastTransitionAt) when it is already set to exactly that reason/status.

[2019-07-08 21:35] grosser opened #306 "LastHeartbeatTime is not update when plugin does not have a condition"
We have a plugin that runs every 5 minutes. Previously it had a `conditions`

[code]

which we removed because it causes:
 -  `LastTransitionTime` to be updated on each deploy https://github.com/kubernetes/node-problem-detector/issues/304
 - `LastHeartbeatTime` to be updated every minute even if it did not run

... but now it does not update `LastHeartbeatTime` at all, even though we see in the lo

[2019-07-08 21:51] grosser commented on #306
... welp additionally not even failures get reported when conditions are removed, this is a nice trap in general, mis-spell conditions ... to bad, your plugin reports to /dev/null now 🤷‍♂

[2019-07-08 21:59] yguo0905 commented on #295
We've discussed 3 ways to solve the problem.

1. **Add a configurable timeout option to K8s exporter. On startup, NPD will NOT run any plugins (and be blocked in K8s export creation) until either apiserver is ready or the timeout occurs.**

    - NPD metrics pipeline will be unnecessarily blocked for the timeout duration if NPD cannot connect to apiserver.
    - This doesn't solve the issue where

[2019-07-08 22:36] yguo0905 commented on #295
Posting the comments from @Random-Liu in our offline discussion.

I will follow the advice and go with option (1).

[2019-07-08 23:16] grosser opened #307 "Custom plugins always show negative reason"
For example this config:
[code]

the plugin passes (can see that in the logs), and it shows the correct message, but it always shows the NegativeReason reason ... we were following the example https://github.com/kubernetes/node-problem-detector/blob/master/config/custom-plugin-monitor.json which uses the same positive/negative reason setup, but that does not seem to work.

Same goes for the events

[2019-07-08 23:30] grosser commented on #307
and if there is not fix, at least update the ntp example so nobody else runs into this problem 🤷‍♂

[2019-07-09 04:49] wangzhen127 commented on #304
That makes sense to me. Sounds good to me to make NPD check the conditions upon startup. @xueweiz and @grosser, I am happy to review your PR to fix this. :)

[2019-07-09 04:52] wangzhen127 commented on #306
If there is no condition object, the heartbeat does not have a place to live in. I think we should just fix #304 and then you have a default condition, where you can have the heartbeat.

I think this is by design. The heartbeat is for the condition object, not for the plugin.

[2019-07-09 04:59] grosser commented on #306
Then if there is no conditions object the config should crash/be marked invalid since it will not work ? (same for if the condition does not match the rules ?)

Hmm if the heartbeat is for the condition object, then it should update whenever any plugin for it runs maybe <-> whenever it is "reconsidered" ... not sure if that makes sense :)

[2019-07-09 05:00] grosser commented on #304
@xueweiz please make a PR if you can, if not I can try too but that might take a bit and be very clumsy :D

[2019-07-09 05:14] wangzhen127 commented on #306
Why is that? No condition does not mean the plugin is not running. It means the permanent problem does not occur yet.

It can be more frequent than that. See how often it gets updated here:
https://github.com/kubernetes/node-problem-detector/blob/master/pkg/exporters/k8sexporter/condition/manager.go#L146
and
https://github.com/kubernetes/node-problem-detector/blob/master/pkg/exporters/k8sexporter/

[2019-07-09 14:39] grosser commented on #306
If there is no condition, the permanent problem will not get set even if it happens.
So we need to either make the condition mandatory or change that behavior.

[2019-07-09 17:11] grosser opened #309 "json logging"
would you accept a PR to make json logging the default or optional ? (or is there already an option for that ? )

[code]

->

[code]

[2019-07-09 20:19] yguo0905 opened #310 "Cut the v0.6 branch"
The latest NPD version is currently at 0.6.x, but we don't have a v0.6 branch so we should cut it.

Also, there has been several big refactorings and features recently merged into master. We should exclude them from v0.6. So let's create the branch based on https://github.com/kubernetes/node-problem-detector/commit/b454a42dbd15a80cc6e7e9778875077b114ddcba.

/assign @wangzhen127
/cc @Random-Liu @an

[2019-07-09 23:50] #295 closed

[2019-07-10 05:56] wangzhen127 commented on #306
I am lost. Why is that? When a permanent problem occur, the corresponding condition object will be created (if not existed before), right?

[2019-07-10 06:07] grosser commented on #306
only if there was `conditions` to begin with ... I tried not having `conditions` so they would not set/reset the "default" state on deploy ... I can try with empty `conditions` or bogus conditions value, maybe that works 🤷‍♂

[2019-07-10 23:07] grosser commented on #306
confirmed that it never creates a status when conditions is empty or condition was not defined with the exact same name

[2019-07-12 18:26] wangzhen127 commented on #310
Done

You will need to cherry pick you PR to v0.6.

[2019-07-12 18:38] wangzhen127 commented on #306
That sounds like a bug to me. I haven't got time to test it myself. Do you mind describing the reproduce steps here?

/cc @Random-Liu
/cc @andyxning

[2019-07-12 18:49] xueweiz commented on #310
btw I'd prefer if we can wait for the system-log-monitor and custom-plugin-monitor metrics support in before cutting next release :)
(they should not take too long)

[2019-07-12 18:59] wangzhen127 commented on #310
@xueweiz, your changes will be v0.7 as it contains major updates. @yguo0905's change will be a patch release of v0.6.

[2019-07-12 19:00] wangzhen127 commented on #307
Sounds like duplicated issues as #202, I am closing this one in favor of that.

[2019-07-12 19:00] #307 closed

[2019-07-12 19:02] xueweiz commented on #310
Thanks for the clarification Zhen!

[2019-07-12 19:06] yguo0905 commented on #310
@wangzhen127, I just realized that df2bc3df22c174389668e6630a320574dae23052 was already tagged as v0.6.4 (although it includes the OpenCensus and gopsutil dependency update), so we should have created the v0.6 branch based on that commit.

[2019-07-12 19:09] yguo0905 commented on #310
Sorry for the wrong commit in the description. Let's create the branch based on https://github.com/kubernetes/node-problem-detector/commit/df2bc3df22c174389668e6630a320574dae23052.

[2019-07-12 19:46] xueweiz commented on #304
Hi @grosser , I'm happy to work on the PR :)
Sorry please let me submit #300 first. Because the initialization code of `system-log-monitor` is being changed a little bit in there. I'll wait for it to land, then work on this :)

[2019-07-12 20:23] grosser commented on #306
create a custom plugin without a condition and a failing permanent rule -> never set

[2019-07-12 20:41] yguo0905 commented on #310
/reopen

[2019-07-12 21:00] wangzhen127 commented on #310
Fixed

[2019-07-12 21:00] #310 closed

[2019-07-12 21:53] wangzhen127 commented on #202
@andyxning and @Random-Liu, can you take a look?

What @MaksymTrykur described in https://github.com/kubernetes/node-problem-detector/issues/202#issuecomment-479939097 seems correct.

What I don't understand is that for @AlexShemeshWix's example, it should never enter `change 3` and `change 4`, but he got something unexpected.

[2019-07-12 22:00] wangzhen127 commented on #306
Do you mind sharing your config file and how you generate the failing rule and attach the NPD logs here?

[2019-07-12 22:14] grosser commented on #306
see above, just needs a script that does not work like `exit 1`

[2019-07-14 05:10] grosser opened #311 "Unify log monitor options into 1"
There are 3 options (`--config.system-log-monitor`, `--config.custom-plugin-monitor`, `--config.system-stats-monitor`) I have to correctly sort my plugins into, would be great if there was just 1 `--configs config/*.json` and it reads the config type (which it has to do anyway) and then decides how to treat it.

atm we are doing this which is kinda silly
[code]

/cc @eatwithforks

[2019-07-15 21:56] grosser opened #313 "allow custom run intervals to improve node boot time and reduce runtime load"
# Problem
when the node first boots the status conditions change rapidly, so we want to check frequently
when a node is running for a while, the status change rarely, so we want to save overhead

# Solution
`invoke_interval: ["30s", "60s", "60s", "60s", "2m", "2m", "5m"]`

[2019-07-24 16:56] frittentheke commented on #259
@jpds  ... your wish just came true -> https://github.com/kubernetes/node-problem-detector/commit/23dc2659716978895514ac9397ed9537f2078790

@xueweiz is there going to be a release anytime soon?

[2019-07-24 20:56] xueweiz commented on #259
Hi @frittentheke @jpds, the implementation of NPD metrics mode is mainly tracked at #284.

It is almost complete. The only lacking thing is #315. I expect to get it finished within a few days.
I discussed with @Random-Liu yesterday, and the current plan is to cut v0.7.0 release after #284 gets closed.

It'd be good if you can help verify if these changes suits your use cases. If not, we can make i

[2019-07-25 19:17] xueweiz commented on #284
Now that #315 is merged, this issue is finally complete! It will be release in NPD v0.7.0

Huge thanks to Zhen, Lantao and Andy for the reviews and feedback!

There are a few follow up improvements, most importantly, e2e tests for NPD (#296). I really want e2e test to happen, so that we can have more confidence when changing NPD code.

[2019-07-25 19:17] #284 closed

[2019-07-26 00:15] Random-Liu commented on #309
@grosser I think an option to enable json logging is fine as long as it doesn't complex the code too much.

[2019-07-26 00:20] Random-Liu commented on #304
I think this is WAI initially for system log monitor.

If a node gets restarted, the problem is usually resolved. However, there is currently no way for system log monitor to set the condition back, so we always set the default condition when NPD comes up.

[2019-07-26 00:28] Random-Liu commented on #306
@grosser The current way that NPD works is that the `condition` you defined in permanent rules have to exist in `conditions`.

https://github.com/kubernetes/node-problem-detector/issues/306#issue-465470279 doesn't have it, thus no condition is set.

Agree.

[2019-07-26 00:34] Random-Liu commented on #313
Thanks for the proposal!

I think this is a valid request. @xueweiz @wangzhen127

We can add some kind of backoff mechanism for the interval, something like:
[code]

And the interval should be reset whenever there is a state change:
1) When NPD startup, interval should start from `30s`, and eventually extend to `5m` if no problem is found.
2) When a problem is detected, interval is set back to `30

[2019-07-26 01:07] grosser commented on #309
thx, we'll try to make a PR whenever we next have some play-time with go (if anyone else wants to take it, not problem though ;) )

[2019-07-26 01:13] grosser commented on #304
just to clarify: this is not about node restarting, but the detector itself crashing / getting restarted manually

[2019-07-26 01:15] grosser commented on #304
also "for custom plugin we have a well-defined way to set conditions back", I'd want for the plugin to not reset on restart if no default condition is given ... but that's blocked by https://github.com/kubernetes/node-problem-detector/issues/306

[2019-07-26 01:16] grosser commented on #306
so that should be part of the validation then ? <-> fail fast when config is invalid ?

[2019-07-26 01:18] grosser commented on #313
I like the initial+max, maybe just reuse the current interval to mean max and add "initial_interval" to make migration simple ... backoff_factor can just be a sane default at first, few will need it anyway

[2019-07-26 12:57] ghouscht opened #316 "v0.7.0 not available on k8s.gcr.io"
Seems to be the same issue like in #230
A bit confusing, as the [release notes](k8s.gcr.io/node-problem-detector:v0.7.0) clearly state that the docker image can be found @ `k8s.gcr.io/node-problem-detector:v0.7.0` but actually isn't there.

[2019-07-26 13:34] frittentheke commented on #316
@Random-Liu ^^

[2019-07-27 00:58] Random-Liu commented on #316
Triggered build, should be made available by automation soon. :)

[2019-07-27 04:05] grosser opened #317 "use SIGTERM on timeout so custom plugins can produce a backtrace/clean up"
atm it uses CommandContext which always sig- kills, making it so we don't see a backtrace of where things went wrong and cleanup/trap blocks are not run

ideally logic should be sigterm ... wait 1-xs sigkill
alternatively call out that this is a sigkill and make the example `timeout 10 original-command ` (which does not work since it only accepts a path, so need at least a workaround for that)
So

[2019-07-29 07:03] Random-Liu commented on #304
The problem is that NPD doesn't know whether it is process restart or node reboot. We can probably put some state into the `/run` directory to distinguish that.

[2019-07-29 07:30] grosser commented on #304
I think if the "do not set condition when custom plugin does not define condition" would already mostly solve this too :)
https://github.com/kubernetes/node-problem-detector/issues/306

[2019-07-29 07:32] grosser commented on #311
I guess this stems from gos strict json parsing ... so maybe parse the file with a "plugin field only" parser and then decide what parser to use or so 🤷‍♂

[2019-07-29 17:13] wangzhen127 commented on #306
Makes sense. Do you mind sending a fix? :)

[2019-07-30 18:43] #316 closed

[2019-07-30 18:48] #255 closed

[2019-07-30 20:17] wangzhen127 commented on #202
I found the bug. Will put up a fix PR shortly.

[2019-07-30 22:12] wangzhen127 commented on #306
Just added the validation on the config in https://github.com/kubernetes/node-problem-detector/pull/320

[2019-08-08 00:09] #202 closed

[2019-08-08 00:09] #306 closed

[2019-08-08 00:18] grosser commented on #306
thx 🎉

[2019-08-12 18:51] wangzhen127 commented on #296
"Standalone" is a used word already, meaning NPD is running as a native process instead of as a container. So consider use another word to cover the case where NPD runs without k8s API server. Maybe "metrics-only mode" (or something else)? After you decide, you can add that to README, so everyone knows.

[2019-08-12 23:21] xueweiz commented on #296
SG. Let's call it "metrics-only" mode.

[2019-08-13 15:24] HaveFun83 opened #326 "Prometheus metrics naming"
Maybe you can follow the prometheus naming metrics and label style-guide for the exported metrics?
https://prometheus.io/docs/practices/naming/
https://github.com/kubernetes/node-problem-detector/blob/e280e2075ada86d2bde947bb2ff0776575026734/pkg/problemmetrics/problem_metrics.go#L41-L42

[2019-08-14 00:58] xueweiz commented on #326
/cc @wangzhen127
/cc @Random-Liu

Hi @HaveFun83 , I think we could rename `problemCounter` to `problemCount`. What do you think? And do you have any suggestion of a better naming for `problemGauge`? Thanks!

[2019-08-14 01:02] xueweiz opened #329 "Wrong type for host_uptime metric"
`host_uptime` metrics records the uptime of the OS in seconds, and is currently stored as an int64. We should store it at float64 to match the standard other projects use. e.g.:
1. prometheus node_exporter [example](https://github.com/prometheus/node_exporter/blob/070e4b2e17750941e38ebb4037d67da3a05a6788/collector/supervisord.go#L146)
2. Stackdriver monitoring agent [example](https://cloud.google.

[2019-08-14 01:16] xueweiz commented on #326
Oh I just realized maybe you meant that the metrics should be in snake case (`some_metric`) rather than camel case (`someMetric`). But I couldn't tell for sure.
Could you clarify what's your recommendation of what the metric names should be? Thanks!

[2019-08-14 07:30] HaveFun83 commented on #326
According to the prometheus naming docs i would suggest:
`nodeproblemdetector_problem_count_total`
`nodeproblemdetector_problem_type_info`

[2019-08-14 11:58] Pharb opened #332 "Missing node name from problem metrics"
Would it be possible to add the node name as labels to the `problem_counter` metrics?
Currently the `instance` label refers to the IP address of the node-problem-detector pod, which makes it hard to match it up with the actually affected node.

[code]

[2019-08-14 17:31] xueweiz commented on #332
Hi @Pharb , I believe `problem_counter` metric comes with only one label: "reason".
The other fields seems to be added by your Prometheus scraping service. Can you let me know what tool are you using to scrape these metrics? I think the best way is to configure that in the scraping service. But I want to learn about your constraints first. Thanks!

I'm mostly familiar with two tools for scraping P

[2019-08-14 19:19] wangzhen127 commented on #202
The fix is now included in NPD v0.6.6. @AlexShemeshWix and @MaksymTrykur, can you double check if your problem is fixed?

[2019-08-14 19:20] wangzhen127 commented on #306
The fix is now included in NPD v0.6.6. @grosser, can you double check if your problem is fixed?

[2019-08-14 20:16] grosser commented on #306
deployed 0.7.0 with `  "conditions": [],` ... no startup or runtime errors in sight and heartbeat is no longer updated ... so not fixed

[2019-08-14 20:17] wangzhen127 commented on #306
The fix is not included in 0.7.0. The fix is in **v0.6.6** and will be in 0.7.1 (not yet released)

[2019-08-14 21:52] xueweiz commented on #329
We eventually decided to keep `host_uptime` as `int64`:

[2019-08-14 21:52] #329 closed

[2019-08-15 07:28] HaveFun83 commented on #332
Hi you need to relabel the metric.
If you are using the prometheus-operator concept you can add the following to your nodeproblemdetector servicemonitor:
[code]
this added a nodename label to the metrics

[2019-08-15 09:04] MaksymTrykur commented on #202
Fixed for me in v0.6.6:

`
  Normal  NodeIsHeatlhy    9m59s (x8 over 26m)  general-monitor, ua-core01   Node condition NodeProblem is now: False, reason: NodeIsHeatlhy
`

vs before

`
  Normal  NodeIsUnhealthy  15m (x57 over 23h)  general-monitor, ua-core01   Node condition NodeProblem is now: False, reason: NodeIsUnhealthy
`

[2019-08-15 21:07] grosser commented on #306
same with 0.6.6

On Wed, Aug 14, 2019 at 1:17 PM Zhen Wang <notifications@github.com> wrote:

[2019-08-15 21:25] wangzhen127 commented on #306
Sorry, I misunderstood and miscommunicated. The fix on custom plugin was cherry picked. The validation for the config was not cherry picked (no plan to include in v0.6.x, will be included in 0.7.1)

[2019-08-16 10:30] Pharb commented on #332
Great, thanks a lot for the quick responses.
Yes, I am using the Prometheus Operator and didn't think about using relabelings.

[2019-08-16 10:30] #332 closed

[2019-08-16 20:21] xueweiz opened #333 "host/uptime should be a "counter" rather than a "gauge""
This is the current metrics that NPD reports:
[code]

In these metrics, `disk_io_time`, `disk_weighted_io` and `host_uptime` actually should be TYPE `counter` rather than TYPE `gauge`.

According to OpenCensus's Prometheus exporter GoDoc ([link](https://github.com/census-ecosystem/opencensus-go-exporter-prometheus/blob/95b801c88f4730adf7fa73f68d2b7fb77c3e955e/prometheus.go#L104)):

// correspondin

[2019-08-16 20:22] xueweiz commented on #333
/cc @wangzhen127

[2019-08-17 15:59] #215 closed

[2019-08-24 02:30] #243 closed

[2019-08-30 17:34] grosser commented on #306
finally failed now :)

[code]

[2019-09-04 16:54] wangzhen127 commented on #282
/remove-lifecycle stale

[2019-09-05 13:38] iranzo opened #340 "Bashate errors"
network_problem.sh:17:1: E003 Indent not multiple of 4
network_problem.sh:18:1: E003 Indent not multiple of 4

[2019-09-05 13:55] iranzo commented on #340
Raised because of failures in CI for https://review.gerrithub.io/c/citellusorg/citellus/+/467512

[2019-09-05 14:10] iranzo commented on #266
@ringtail it depends a lot on what you're trying to implement, for example, I had to move several tests in another tool from 'awk' to grep and then to awk on the results because of 'grep' speed vs 'awk' for finding some regexps

[2019-09-05 14:35] ringtail commented on #266
Yes. I agree.

[2019-09-05 14:39] iranzo commented on #266
Do you have any example of the issue? I've checked many script at https://github.com/citellusorg/citellus/ for doing issue detection and would see what you're trying to accomplish :-) thanks!

[2019-09-05 19:51] iranzo opened #343 "Citellus integration"
I think that would make lot of sense, to, in a similar way to custom plugin monitor, add support for https://github.com/citellusorg/citellus

It's based on similar ideas about plugin creation and execution and is able to provide a json with the results of the execution, most of the tests are valid for execution on a 'live' system so checks like ntpd, chrony and others can be added as well as benef

[2019-09-06 12:15] iranzo commented on #343
/kind enhancement

[2019-09-06 12:15] iranzo commented on #340
/kind bug

[2019-09-07 14:10] tianzhuozhuo commented on #215
/reopen

[2019-09-10 20:46] xueweiz opened #344 "Support yaml formatted configs"
Currently all config files are in json format. However @Random-Liu has been complaining about that it's hard to deal with all the character escapings in json, and would prefer a yaml format.

Maybe we can reuse the apimachinery lib at here to support both json and yaml together: https://github.com/kubernetes/apimachinery/blob/461753078381c979582f217a28eb759ebee5295d/pkg/util/yaml/decoder.go#L207

[2019-09-10 20:46] xueweiz commented on #344
/cc @wangzhen127

[2019-09-10 23:27] xueweiz opened #345 "consider making k8s_exporter and prometheus_exporter into plugins"
Making existing exporters into plugins has a few benefits:

1. It allows users to disable them at compile time, to reduce the memory usage of NPD.

1. It unifies the interface (command-line or config file) and code path for all exporters in NPD.

However a few questions needs to be answered:

1. Do we keep the CLI interface? Or do we just take in one config file for each exporter without additiona

[2019-09-12 19:13] xueweiz opened #346 "Add Stackdriver Exporter"
It's nice to have an exporter that can export the metrics to Stackdriver Monitoring if needed. The exporter will have an option to be disabled at compile time. So for the people who do not use Stackdriver at all, they disable it to avoid any side effect.

[2019-09-14 04:44] #271 closed

[2019-09-15 08:00] #340 closed

[2019-09-15 10:52] tianzhuozhuo opened #351 "Running as a daemonset, how to use the script(custom-plugin-monitor) to get the node info in the container"
The easiest way to install node-problem-detector into our cluster is to use the helm chart. Node-problem-detector will run as deamonset. But, how to use the script(custom-plugin-monitor) to get the node info in the container, such as,
network_problem.sh
[code]
network-problem-monitor.json
[code]

[2019-09-17 02:46] tianzhuozhuo commented on #351
@xueweiz
“mount host's /proc into the container, probably at /host/proc...”, That is still not the host info. ip_conntrack_count is the non-conventional file or file system.

[2019-09-17 06:07] xueweiz commented on #351
Yes, I understand :) It belongs to procfs.

However, "mount" in Docker is not a "conventional mount" as well, it's a "bind mount". It can handle procfs :) You just need to grant the container enough privilege and put it in the right namespace.

I just tried it out, and realized that for this use case, the bind mount and privilege escalation are not actually necessary. You just need the host networ

[2019-09-17 11:43] tianzhuozhuo commented on #351
Yes,it's true
If Node problem detector running as deamonset, we shoud use hostNetwork. Although this method is not very secure, we still need it.

[2019-09-18 22:15] xueweiz commented on #296
I just setup a CI job at https://github.com/kubernetes/test-infra/issues/14369. See test results at here:
https://k8s-testgrid.appspot.com/sig-node-node-problem-detector#ci-npd-e2e-test
https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-npd-e2e-test

I see some flakes on the test:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-npd-e2e-test/1174205959015239684

There isn't any help

[2019-09-19 18:56] cequencer opened #354 "detecting host system time clock offset with NTP server?"
Currently, I see there is a plugin that checks to see if ntpd service is actively running via this
/config/plugin/check_ntp_time.sh script.   Are there additional checks that can be considered to detect system clock offset with NTP servers?  Services like ZooKeeper are sensitive to system clock offsets and it can be difficult to debug or troubleshoot distributed applications in virtual environment

[2019-09-22 00:47] harighub opened #355 "Failing to start NPD due to plugin path file doesn't exists"
I've followed the instructions described at [link]( https://kubernetes.io/docs/tasks/debug-application-cluster/monitor-node-health/ ) using latest image version k8s.gcr.io/node-problem-detector:v0.7.1 on Mac HighSierra 10.13.6

[code]
configMap was created using

`kubectl create configmap node-problem-detector-config --from-file=config` looks like all config files seem to be created in the CM and

[2019-09-24 01:32] grosser commented on #344
yes please, we keep all other configs as yaml so this would be nice!

[2019-09-24 09:45] iranzo commented on #354
Also: https://github.com/citellusorg/citellus/blob/master/citellusclient/plugins/core/system/clock-1-ntpd.sh

[2019-09-25 03:01] #272 closed

[2019-09-25 13:54] #351 closed

[2019-09-25 23:08] grosser opened #360 "Add a Dockerfile that can work as development environment"
I tried to get this building on mac and failed because it needs systemd

[code]

and ideally some instructions for that in the readme

[2019-09-25 23:10] grosser opened #361 "Fill in CONTRIBUTING.md"
fill in all the `<!---` sections and ideally some more specific information for node-problem-detector

[2019-09-25 23:11] grosser opened #362 "Remove `go get` instructions from readme since this uses go modules"
... seems redundant to document both, should work for anyone no matter where they check out

[2019-09-25 23:17] grosser commented on #361
... maybe some instructions on how to get development going / how to run tests etc

[2019-09-26 00:10] grosser opened #364 "Cleanup go.sum"
there are so many duplicated dependencies in there, which
 - makes installation take forever
 - could add bugs if multiple versions of the same library are used
 - increases the binary size

for example:

[code]

I'd propose some CI step that makes sure it is only using 1 version per dependency ... does that make sense ?

[2019-09-26 00:34] grosser opened #366 "make build fails with ENABLE_JOURNALD=0"
[code]

[2019-09-27 08:54] tianzhuozhuo commented on #355
You should mount to other directories instead of '/config'.

[2019-09-27 22:02] harighub commented on #355
Thanks, I was able to mount a different directory and referenced if from custom configuration.  But have another question:

[2019-10-10 22:20] grosser commented on #313
@Random-Liu can I get a review on https://github.com/kubernetes/node-problem-detector/pull/367 which was my first PR to get going ... but so far nobody showed up :(

[2019-10-16 10:34] zjumoon01 opened #372 "custom plugin is blocked due to the timeout of my plugin script"
I'm beginning to learn and test npd. When I try to use custom plugin and its timeout, I found an issue which I'm not sure it is a 'real' issue.

npd start cmd
`bin/node-problem-detector --v=2 --logtostderr --enable-k8s-exporter=false  --config.custom-plugin-monitor=./config/custom-plugin-monitor.json`

#cat ./config/custom-plugin-monitor.json
{
  "plugin": "custom",
  "pluginConfig": {
    "invoke

[2019-10-24 01:25] grosser commented on #309
/lifecycle stale

[2019-10-25 14:59] grosser commented on #317
/remove-lifecycle stale

[2019-10-25 17:50] Random-Liu opened #376 "NPD continues running after a plugin fails"
With https://github.com/kubernetes/node-problem-detector/pull/375, we fixed the busy loop after a monitor exits unexpectedly.

However, NPD still continues running after that happens, and some of the supported problems won't be reported any more.

We may want to throw out a fatal error or gracefully stop NPD when that happens.

[2019-10-27 16:01] grosser commented on #311
/remove-lifecycle stale

[2019-10-27 23:40] wangzhen127 commented on #291
/remove-lifecycle stale

[2019-10-28 19:11] #279 closed

[2019-10-28 20:12] #276 closed

[2019-10-31 21:40] eatwithforks opened #380 "plugin run times should be shown in the logs"
it would be nice to which of our plugins take the longest. please add runtime information to the log output.

[2019-10-31 22:14] #380 closed

[2019-11-04 15:52] #266 closed

[2019-11-08 01:35] zhangxiaoyu-zidif opened #383 "Failed to make build the npd project"
Is there something wrong with my env?

I used both MacOS and Ubuntu with master branch.

[code]

[2019-11-08 01:43] xueweiz commented on #383
Since you are using Ubuntu, you probably need to [install the "libsystemd-journal-dev" package](https://github.com/kubernetes/node-problem-detector#build-image).

[2019-11-08 02:20] zhangxiaoyu-zidif commented on #383
Thanks @xueweiz, after I installed it from https://www.ubuntuupdates.org/package/core/trusty/main/updates/libsystemd-journal-dev, `make` works well.

[2019-11-08 02:20] #383 closed

[2019-11-14 21:28] bhcleek opened #386 "processing of kernel messages seems to be delayed after startup"
#### reproduction
1. deploy node-problem-detector as a daemonset a configuration to monitor kernel logs using the journald driver.
1. identify a node that is running systemd to test on
1. check the logs of the node-problem-detector instance running on the identified node to make sure it's watching the kernel logs
1. run `kubectl get events -w`
1. write a test message to /dev/kmsg (e.g. `sudo sh -c

[2019-11-19 14:31] HaveFun83 commented on #326
any news here?

 /remove-lifecycle stale

[2019-11-20 02:33] xueweiz commented on #326
Hi @HaveFun83 ,
I propose to rename the metrics to `problem_count_total` and `problem_state`. Does that fit your idea? And/or if you want, I could implement a command-line option to allow NPD user to choose any non-default value for this.

Here are the reasons for my proposal:
1. I prefer to not add the `nodeproblemdetector` prefix. Because when Prometheus scrapes the NPD metric endpoint, it's ver

[2019-11-21 00:39] xueweiz commented on #326
@andyxning  Hi Ning, do you have any suggestions? :)

[2019-11-21 08:20] #297 closed

[2019-11-23 04:23] grosser commented on #309
/remove-lifecycle rotten

[2019-11-25 08:10] zhangxiaoyu-zidif opened #388 "NPD need suport multi-custom plugins"
Why do we need this proposal?
When we use Kubernetes in our project, which contains serveral tech teams, many node problem detector plugins are mainintaining by node hardware team, runtime team, SRE team and so on. Under current architechure, we had to combine them into one plugins. So it will tense our maintaining. To decouple this plugins, we want to make npd support multi custom plugins, if wit

[2019-11-25 19:17] xueweiz commented on #388
If I recall correctly, you can specify multiple custom-plugin-monitor config files. If you have multiple custom-plugin-monitor configs, and pass them into multiple `--config.custom-plugin-monitor` argument, does that not solve your problem?

e.g. something like:
`./bin/node-problem-detector --logtostderr --config.custom-plugin-monitor=config/custom-plugin-monitor.json --config.custom-plugin-monito

[2019-11-25 19:17] xueweiz commented on #388
/cc @andyxning

[2019-11-25 19:18] xueweiz commented on #301
/reopen

[2019-11-25 19:18] xueweiz commented on #301
/assign @xueweiz

[2019-11-26 11:06] sweet9 opened #389 "Can not get the 'journald' plugin with correct name."
Hi, recently I run the node problem detector in my local environment when I specified the go launch arguments like this:
`--logtostderr=true --v=5 --config.system-log-monitor config/kernel-monitor.json,config/docker-monitor.json --enable-k8s-exporter=false`
As you see, I wonder registry and launch two log watchers to match something, however, there is  still an error message when it is loading the

[2019-11-26 15:57] grosser commented on #304
/remove-lifecycle rotten

[2019-11-26 19:09] xueweiz commented on #389
/assign @xueweiz

The "journald" log watcher is registered [here](https://github.com/kubernetes/node-problem-detector/blob/f479d09e581e1dd294672c9c997c566c7a5dbf81/pkg/systemlogmonitor/logwatchers/register_journald.go#L29):
`registerLogWatcher(journaldPluginName, journald.NewJournaldWatcher)`

If you don't have the "journald" plugin available, very likely is because you are compiling NPD while dis

[2019-11-26 20:11] xueweiz commented on #366
Thanks for filing the bug. Uploaded #390 to fix it.
/assign @xueweiz

[2019-11-26 20:14] xueweiz commented on #346
This is done via #335 . Closing.

[2019-11-26 20:14] #346 closed

[2019-11-26 20:43] xueweiz commented on #364
Hi @grosser ,
From my understanding, unused entries in go.sum does not affect anything:
1. The only thing that's really affecting installation or compilation is what we stored in the /vendor directory (since we are using the "-mod vendor" option).
2. The golden rule determining the code in the /vendor directory is stored at go.mod.

I don't think it would slow down installation or increases binary

[2019-11-26 20:44] xueweiz commented on #364
/assign @xueweiz

[2019-11-26 20:46] xueweiz commented on #326
Hi @HaveFun83  :) If you don't have any other opinion, I'll just submit a PR for [this proposal](https://github.com/kubernetes/node-problem-detector/issues/326#issuecomment-555808115) :P

[2019-11-26 20:52] xueweiz commented on #386
Nothing I can think of. If you have already checked the logs of NPD to make sure the system-log-monitor has started, I'd have the same expectation as you mentioned.

Now I'm thinking that maybe k8s_exporter hasn't fully setup yet for some reason. Could you try to start NPD with Prometheus Exporter, and try to reproduce the problem?
Basically after your step 5, run "curl localhost:20257" and see if

[2019-11-26 21:05] bhcleek commented on #386
prometheus exporter is running, and no metrics are problem_counter metrics are reported until the events start coming through, too; it looks like a bug with system-log-monitor.

[2019-11-26 21:08] xueweiz commented on #386
Thanks @bhcleek ! :)
This is interesting. I have no idea why is that happening. And I just recently [wrote some tests](https://github.com/kubernetes/node-problem-detector/pull/387) to do similar work, and didn't observe similar failure.
Can you share your system-log-monitor config file as well? I'll try to repro this and take a closer look. Thanks! :)

/assign @xueweiz

[2019-11-26 22:30] xueweiz commented on #372
This is interesting. I verified this, turns out the [`cmd.Output()`](https://github.com/kubernetes/node-problem-detector/blob/ef30a1fdd173198d1ce6475d6ed1f698759cee72/pkg/custompluginmonitor/plugin/plugin.go#L131) will block until `sleep 200` finishes. This is not the intention. The intention is that it should unblock as soon as the [timer](https://github.com/kubernetes/node-problem-detector/blob/

[2019-11-26 23:15] xueweiz commented on #366
/close
#390 should have this fixed :)

[2019-11-26 23:15] #366 closed

[2019-11-26 23:18] bhcleek commented on #386
[code]

[2019-11-26 23:20] grosser commented on #364
👍 yeah not worth the effort I guess

[2019-11-26 23:20] #364 closed

[2019-11-27 00:33] zhangxiaoyu-zidif commented on #388
In fact we want to have multi custom-plugin-monitor, not just to deal with various plugins with different .json.

[2019-11-27 01:20] xueweiz commented on #388
Could you share the proposal? I want to understand the use case, and to understand what do you mean by "multi custom plugins".

You can see some existing proposals [here](https://docs.google.com/document/d/1jK_5YloSYtboj-DtfjmYKxfNnUxCAvohLnsH5aGCAYQ/edit#) and [here](https://docs.google.com/document/d/1SeaUz6kBavI283Dq8GBpoEUDrHA2a795xtw0OvjM568/edit).

[2019-11-27 03:57] sweet9 commented on #389
I found that I haven't disable the journald build tag.
and  I start NPD with the local IDE by running the main method directly.

for your questions:
1. I haven't start NPD as a binary file, I start it with my IDE (goland) so that I can debug easier.

2.

[2019-11-27 04:08] xueweiz commented on #389
Ah that explains it :)
We typically build NPD by running `Make`. You can see that in Makefile:
1. [`ENABLE_JOURNALD` is set to `1` by default](https://github.com/kubernetes/node-problem-detector/blob/d000c1b060803cb8b3172fdcf9aa9956db942d7e/Makefile#L51)
1. [If](https://github.com/kubernetes/node-problem-detector/blob/d000c1b060803cb8b3172fdcf9aa9956db942d7e/Makefile#L64) `ENABLE_JOURNALD` is `1`,

[2019-11-27 06:43] zhangxiaoyu-zidif commented on #388
Thanks! I will try to send a proposal following this format.

[2019-11-27 09:39] sweet9 commented on #389
Thanks for your reply, finally I understand why we specify the BUILD_TAG in MakeFile.
and I install the lib tools like this:
`apt-get install libsystemd-dev`

And add the custom_tag in my IDE just as you said, It works well, Great.

but a new problem is here when the following code has been executed:
[code]
Error message :
`failed to stat the log path "/var/log/journal": stat /var/log/journal: no

[2019-11-27 18:44] xueweiz commented on #389
Sounds good :) Glad it worked for you.

Closing this issue.
/close

[2019-11-27 18:44] #389 closed

[2019-11-27 18:46] xueweiz commented on #372
/assign @xueweiz

[2019-11-27 18:51] xueweiz commented on #360
Mac does not use [systemd-journald](https://wiki.archlinux.org/index.php/Systemd/Journal), so you cannot enable journald-related features in NPD. The only way I know to make NPD work on Mac, is to set [`ENABLE_JOURNALD`](https://github.com/kubernetes/node-problem-detector/blob/d000c1b060803cb8b3172fdcf9aa9956db942d7e/Makefile#L51) to 0, which disables these features.

Can you try to start a Ubuntu

[2019-11-27 19:03] xueweiz commented on #355
You can use the [`args` configuration option](https://github.com/kubernetes/node-problem-detector/blob/d000c1b060803cb8b3172fdcf9aa9956db942d7e/pkg/custompluginmonitor/types/types.go#L52:2). See an example at [here](https://github.com/kubernetes/node-problem-detector/blob/d000c1b060803cb8b3172fdcf9aa9956db942d7e/config/kernel-monitor-counter.json#L24).

NPD is designed to have **LESS logic and com

[2019-11-27 19:04] xueweiz commented on #355
I don't think there is any feature requests/bugs in NPD regarding this issue. I'm gonna close it for now.
/close

[2019-11-27 19:04] #355 closed

[2019-11-27 19:05] xueweiz commented on #333
This is done via #334 . Closing.

[2019-11-27 19:05] #333 closed

[2019-11-27 19:18] xueweiz commented on #311
This is a fun feature request :)
I don't have any opinion against it. But I don't think it's very high priority either.

If we are going to do this, I think I'd add a few more requirements:
1. Does not break the existing command line interface (e.g. `config.system-log-monitor`).
1. Compatible with all existing config files.
1. (optional) The design should not conflict with #344 where we could pote

[2019-11-27 19:20] grosser commented on #360
yeah ubuntu container would work
I'm not saying it should work, but having some "Systemd is not installed, use ENABLE_JOURNALD=0" would be nice :)
... closing since the ENABLE_JOURNALD=0 now actually works and it's not too hard to find

[2019-11-27 19:20] #360 closed

[2019-11-27 19:25] xueweiz commented on #360
I totally agree!
I [thought about](https://github.com/kubernetes/node-problem-detector/pull/384#issuecomment-551363103) adding a Makefile rule such as `checkDependency` to do this. Just hasn't put too much effort into it.

[2019-11-28 03:57] sweet9 commented on #389
But I have a new question above after I enable the 'journald' log Watcher.
The watcher will read the /var/log/journal file, but it can read successfully in my local environment, the error message like this:
`failed to stat the log path "/var/log/journal": stat /var/log/journal: no such file or directory`

I doubt the log path configured in /config/docker-monitor.json is incorrect when it has been